.pelimoji {
	font-family: 'object-fit: contain, inherit;' ! important;
	-o-object-fit: contain ! important;
	object-fit: contain ! important;
	vertical-align: middle ! important;
	margin: -.2ex .15em .2ex ! important;
	width: 16px ! important;
	height: 16px ! important;
}