blinker==1.4
cssmin==0.2.0
docutils==0.14
feedgenerator==1.9
glue==0.13
Jinja2==2.9.6
libsass==0.15.1
Markdown==3.0.1
MarkupSafe==1.0
pelican==3.7.1
Pillow==5.3.0
Pygments==2.2.0
python-dateutil==2.7.3
pytz==2018.5
six==1.11.0
Unidecode==1.0.22
webassets==0.12.1
feed2toot==0.10
jsmin

