pelican<5.0.0
webassets<3.0
jsmin<4.0.0
cssmin<0.3.0
libsass==0.22.0
Markdown<3.7
pelimoji
pelican-webassets
invoke<2.3.0
livereload<2.7
ghp-import<3.0
minchin.pelican.plugins.nojekyll
pelican-series>=3.0.0
pelican-more-categories
webmention-tools
Markdown-toc