@charset "utf-8";
/*@import url('https://fonts.googleapis.com/css?family=Inconsolata:400,700');*/
@import url('https://fonts.googleapis.com/css?family=Inconsolata|Merriweather');
@import "bulma/sass/utilities/_all.sass";
$body-background-color: #4b2fdf;
$family-monospace: 'Inconsolata', monospace;
$family-primary: 'Noto Sans', $family-sans-serif;
/*$body-family: 'Inconsolata', $family-monospace;*/
$body-color: $light;
$strong-color: $grey-lighter;
$link: $grey-lighter;
$link-hover: $grey-light;
$link-focus: $grey-light;
$link-active: $grey-light;
$title-color: $grey-lighter;
$subtitle-color: $grey-light;
$footer-background-color: $body-background-color;
.link {
	background-color: $grey-darker;
}
.footer,.title,.subtitle,.card-header-title,.card-header-icon,.link,.tag,time {
	font-family: $family-monospace;
}
.banner {
    max-height: 60vh; 
  }
div.content  p a {
	color: $grey-light;
	text-decoration: underline;
}
footer.footer p a, div.content p a.tag {
	color: $grey;
	text-decoration: none;
}

// .spoiler > input + label:after{
//     content: "+";
//     float: right;
//     font-family: $family-monospace;
//     font-weight: bold;
// }
// .spoiler > input:checked + label:after{
//     content: "-";
//     float: right;
//     font-family: $family-monospace;
//     font-weight: bold;
// }
// .spoiler > input{display:none;}
// .spoiler > input + label , .spoiler > .spoiler_body{
//     background:#CCC;
//     padding:5px 15px;
//     overflow:hidden;
//     width:90%;
//     box-sizing: border-box;
//     display: block;}
// .spoiler > input + label + .spoiler_body{display:none;}
// .spoiler > input:checked + label + .spoiler_body{display: block;}
// .spoiler > .spoiler_body{
//     background: #FFF;
//     border: 3px solid #CCC;
// }
// .spoiler > input + label:after {
//     content: "+";
//     float: right;
//     font-family: $family-primary;
//     font-weight: bold;
// }
// .spoiler > input:checked + label:after {
//     content: "-";
//     float: right;
//     font-family: $family-monospace;
//     font-weight: bold;
// }
// .spoiler > input {
//     display: none;
// }
// .spoiler > input + label, .spoiler > .spoiler_body {
//     background: #ccc;
//     padding: 5px 15px;
//     overflow: hidden;
//     width: 90%;
//     box-sizing: border-box;
//     display: block;
// }
// .spoiler > input + label + .spoiler_body {
//     display: none;
// }
// .spoiler > input:checked + label + .spoiler_body {
//     display: block;
// }
// .spoiler > .spoiler_body {
//     background: #fff;
//     border: 3px solid #ccc;
//     border-top: none;
// }
@import "bulma/bulma.sass";
@import 'bulma-accordion/dist/css/bulma-accordion.sass';

$fa-font-path: '';
@import '../font-awesome/scss/regular.scss';
@import '../font-awesome/scss/fontawesome.scss';
