@charset "utf-8";
@import "bulma-0.7.1/sass/utilities/_all.sass";
$body-background-color: #4b2fdf;
$body-family: $family-monospace;
$body-color: $light;
$strong-color: $grey-lighter;
$link: $grey-lighter;
$link-hover: $grey-light;
$link-focus: $grey-light;
$link-active: $grey-light;
$title-color: $grey-lighter;
$subtitle-color: $grey-light;
.link {
	background-color: $grey-darker;
}
.banner {
    max-height: 60vh; 
  }
@import "bulma-0.7.1/bulma.sass";


