{% extends "base.html" %}

{% block title %}{{ SITENAME }}{% endblock %}

{% block content %}
<h1 class="title">
  <a href="/">coyotes in space</a>
</h1>
<div class="card">
	<header class="card-header">
		<p class="card-header-title">
			{{ article.title }}
		</p>
		<time class="card-header-icon" datetime="{{ article.date|strftime('%Y-%m-%d %H:%M:%S') }}">
				{{ article.date|strftime('%a %d %b %Y @ %H:%M') }}
		</time>
	</header>
	<div class="card-content">
		<div class="content">
		 {{ article.content }}
		 {% include 'taglist.html' %}
		</div>
	</div>
</div>
{% endblock %}
