{% extends "base.html" %}

{% block title %}{{ SITENAME }} - {{ article.title }}{% endblock %}

{% block richmeta %}
<meta property="og:title" content="{{ SITENAME }} - {{ article.title }}" />
<meta property="og:description" content="{{ article.summary|striptags }}" />
<meta property="og:url" content="https://coyotesin.space/{{ article.url }}" />
{% endblock %}

{% block content %}
<div class="card">
	<header class="card-header">
		<p class="card-header-title">
			{{ article.title }}
		</p>
		<time class="card-header-icon" datetime="{{ article.date|strftime('%Y-%m-%d %H:%M:%S') }}">
				{{ article.date|strftime('%a %d %b %Y @ %H:%M') }}
		</time>
	</header>
	<div class="card-content">
		<div class="content article">
		 {{ article.content }}
		 {% include 'taglist.html' %}
		 {% if article.modified is defined %}
		 <p><time class="time" datetime="{{ article.modified|strftime('%Y-%m-%d %H:%M:%S') }}"><i class="far fa-clock" title="last modified"></i> {{ article.modified|strftime('%a %d %b %Y @ %H:%M') }}</time></p>
		{% endif %}
		</div>
	</div>
	<footer class="card-footer">
		<a class="card-footer-item link" href="/blog_index.html">Back to index of articles</a>
	</footer>
</div>
{% endblock %}
