{% extends "base.html" %}

{% block title %}{{ SITENAME }}{% endblock %}

{% block content %}
<div class="card">
	<header class="card-header">
		<p class="card-header-title">
			{{ article.title }}
		</p>
		<time class="card-header-icon" datetime="{{ article.date|strftime('%Y-%m-%d %H:%M:%S') }}">
				{{ article.date|strftime('%a %d %b %Y @ %H:%M') }}
		</time>
	</header>
	<div class="card-content">
		<div class="content article">
		 {{ article.content }}
		 {% include 'taglist.html' %}
		</div>
	</div>
	<footer class="card-footer">
		<a class="card-footer-item link" href="/blog_index.html">Back to index of articles</a>
	</footer>
</div>
{% endblock %}
