{% extends 'prebase.html' %}

{% block title %}{{ SITENAME }} - {{ page.title }}{% endblock %}

{% block richmeta %}
<meta property="og:title" content="{{ SITENAME }} - {{ page.title }}" />
<meta property="og:description" content="{{ page.summary|striptags }}" />
{% endblock %}

{% block precontent %}
<h1 class="title">
  <a href="/">coyotes in space - {{ page.title }}</a>
</h1>
<div class="card">
	<header class="card-header">
		<p class="card-header-title">
			{{ page.title }}
		</p>
	</header>
	<div class="card-content">
		<div class="content article">
{{ page.content }}
</div></div></div>
{% endblock %}