i.cemoji {
    background-image: url('/emoji_map/emoji.png');
    background-size: 858.0em;
    width: 1em;
    height: 1em;
    display: inline-block;
    object-fit: contain ! important;
    vertical-align: middle ! important;
}

.cemoji-air_tank {
    background-position: -0.0em 0.0em;
}

.cemoji-bike_pump {
    background-position: -1.0em 0.0em;
}

.cemoji-ceralor_smile {
    background-position: -2.0em 0.0em;
}

.cemoji-ceralor_tail {
    background-position: -3.0em 0.0em;
}

.cemoji-kay_excited {
    background-position: -4.0em 0.0em;
}

.cemoji-kay_frustrated {
    background-position: -5.0em 0.0em;
}

.cemoji-kay_grinning {
    background-position: -6.0em 0.0em;
}

.cemoji-kay_mischievous {
    background-position: -7.0em 0.0em;
}

.cemoji-kay_teased {
    background-position: -8.0em 0.0em;
}

.cemoji-kay_thinking {
    background-position: -9.0em 0.0em;
}

.cemoji-pool_toy_valve {
    background-position: -10.0em 0.0em;
}

.cemoji-pool_toy_valve_open {
    background-position: -11.0em 0.0em;
}

.cemoji-artist {
    background-position: -12.0em 0.0em;
}

.cemoji-astronaut {
    background-position: -13.0em 0.0em;
}

.cemoji-chef {
    background-position: -14.0em 0.0em;
}

.cemoji-construction_worker {
    background-position: -15.0em 0.0em;
}

.cemoji-detective {
    background-position: -16.0em 0.0em;
}

.cemoji-factory_worker {
    background-position: -17.0em 0.0em;
}

.cemoji-farmer {
    background-position: -18.0em 0.0em;
}

.cemoji-firefighter {
    background-position: -19.0em 0.0em;
}

.cemoji-guard {
    background-position: -20.0em 0.0em;
}

.cemoji-health_worker {
    background-position: -21.0em 0.0em;
}

.cemoji-judge {
    background-position: -22.0em 0.0em;
}

.cemoji-mechanic {
    background-position: -23.0em 0.0em;
}

.cemoji-office_worker {
    background-position: -24.0em 0.0em;
}

.cemoji-pilot {
    background-position: -25.0em 0.0em;
}

.cemoji-scientist {
    background-position: -26.0em 0.0em;
}

.cemoji-singer {
    background-position: -27.0em 0.0em;
}

.cemoji-student {
    background-position: -28.0em 0.0em;
}

.cemoji-teacher {
    background-position: -29.0em 0.0em;
}

.cemoji-technologist {
    background-position: -30.0em 0.0em;
}

.cemoji-back_of_hand_clw {
    background-position: -31.0em 0.0em;
}

.cemoji-call_me_clw {
    background-position: -32.0em 0.0em;
}

.cemoji-clap_clw {
    background-position: -33.0em 0.0em;
}

.cemoji-crossed_fingers_clw {
    background-position: -34.0em 0.0em;
}

.cemoji-fist_clw {
    background-position: -35.0em 0.0em;
}

.cemoji-fist_facing_left_clw {
    background-position: -36.0em 0.0em;
}

.cemoji-fist_facing_right_clw {
    background-position: -37.0em 0.0em;
}

.cemoji-handshake_clw {
    background-position: -38.0em 0.0em;
}

.cemoji-hand_clw {
    background-position: -39.0em 0.0em;
}

.cemoji-hand_splayed_clw {
    background-position: -40.0em 0.0em;
}

.cemoji-index_finger_clw {
    background-position: -41.0em 0.0em;
}

.cemoji-metal_clw {
    background-position: -42.0em 0.0em;
}

.cemoji-middle_finger_clw {
    background-position: -43.0em 0.0em;
}

.cemoji-muscle_clw {
    background-position: -44.0em 0.0em;
}

.cemoji-nail_varnish_clw {
    background-position: -45.0em 0.0em;
}

.cemoji-ok_hand_clw {
    background-position: -46.0em 0.0em;
}

.cemoji-open_hands_clw {
    background-position: -47.0em 0.0em;
}

.cemoji-point_down_clw {
    background-position: -48.0em 0.0em;
}

.cemoji-point_left_clw {
    background-position: -49.0em 0.0em;
}

.cemoji-point_right_clw {
    background-position: -50.0em 0.0em;
}

.cemoji-point_up_clw {
    background-position: -51.0em 0.0em;
}

.cemoji-pray_clw {
    background-position: -52.0em 0.0em;
}

.cemoji-punch_clw {
    background-position: -53.0em 0.0em;
}

.cemoji-raised_hands_clw {
    background-position: -54.0em 0.0em;
}

.cemoji-selfie_clw {
    background-position: -55.0em 0.0em;
}

.cemoji-thumbs_down_clw {
    background-position: -56.0em 0.0em;
}

.cemoji-thumbs_up_clw {
    background-position: -57.0em 0.0em;
}

.cemoji-vulcan_clw {
    background-position: -58.0em 0.0em;
}

.cemoji-v_clw {
    background-position: -59.0em 0.0em;
}

.cemoji-wave_clw {
    background-position: -60.0em 0.0em;
}

.cemoji-writing_hand_clw {
    background-position: -61.0em 0.0em;
}

.cemoji-back_of_hand_hmn {
    background-position: -62.0em 0.0em;
}

.cemoji-call_me_hmn {
    background-position: -63.0em 0.0em;
}

.cemoji-clap_hmn {
    background-position: -64.0em 0.0em;
}

.cemoji-crossed_fingers_hmn {
    background-position: -65.0em 0.0em;
}

.cemoji-fist_facing_left_hmn {
    background-position: -66.0em 0.0em;
}

.cemoji-fist_facing_right_hmn {
    background-position: -67.0em 0.0em;
}

.cemoji-fist_hmn {
    background-position: -68.0em 0.0em;
}

.cemoji-handshake_hmn {
    background-position: -69.0em 0.0em;
}

.cemoji-hand_hmn {
    background-position: -70.0em 0.0em;
}

.cemoji-hand_splayed_hmn {
    background-position: -71.0em 0.0em;
}

.cemoji-index_finger_hmn {
    background-position: -72.0em 0.0em;
}

.cemoji-metal_hmn {
    background-position: -73.0em 0.0em;
}

.cemoji-middle_finger_hmn {
    background-position: -74.0em 0.0em;
}

.cemoji-muscle_hmn {
    background-position: -75.0em 0.0em;
}

.cemoji-nail_varnish_hmn {
    background-position: -76.0em 0.0em;
}

.cemoji-ok_hand_hmn {
    background-position: -77.0em 0.0em;
}

.cemoji-open_hands_hmn {
    background-position: -78.0em 0.0em;
}

.cemoji-point_down_hmn {
    background-position: -79.0em 0.0em;
}

.cemoji-point_left_hmn {
    background-position: -80.0em 0.0em;
}

.cemoji-point_right_hmn {
    background-position: -81.0em 0.0em;
}

.cemoji-point_up_hmn {
    background-position: -82.0em 0.0em;
}

.cemoji-pray_hmn {
    background-position: -83.0em 0.0em;
}

.cemoji-punch_hmn {
    background-position: -84.0em 0.0em;
}

.cemoji-raised_hands_hmn {
    background-position: -85.0em 0.0em;
}

.cemoji-selfie_hmn {
    background-position: -86.0em 0.0em;
}

.cemoji-thumbs_down_hmn {
    background-position: -87.0em 0.0em;
}

.cemoji-thumbs_up_hmn {
    background-position: -88.0em 0.0em;
}

.cemoji-vulcan_hmn {
    background-position: -89.0em 0.0em;
}

.cemoji-v_hmn {
    background-position: -90.0em 0.0em;
}

.cemoji-wave_hmn {
    background-position: -91.0em 0.0em;
}

.cemoji-writing_hand_hmn {
    background-position: -92.0em 0.0em;
}

.cemoji-back_of_hand_paw {
    background-position: -93.0em 0.0em;
}

.cemoji-call_me_paw {
    background-position: -94.0em 0.0em;
}

.cemoji-clap_paw {
    background-position: -95.0em 0.0em;
}

.cemoji-crossed_fingers_paw {
    background-position: -96.0em 0.0em;
}

.cemoji-fist_facing_left_paw {
    background-position: -97.0em 0.0em;
}

.cemoji-fist_facing_right_paw {
    background-position: -98.0em 0.0em;
}

.cemoji-fist_paw {
    background-position: -99.0em 0.0em;
}

.cemoji-handshake_paw {
    background-position: -100.0em 0.0em;
}

.cemoji-hand_paw {
    background-position: -101.0em 0.0em;
}

.cemoji-index_finger_paw {
    background-position: -102.0em 0.0em;
}

.cemoji-metal_paw {
    background-position: -103.0em 0.0em;
}

.cemoji-middle_finger_paw {
    background-position: -104.0em 0.0em;
}

.cemoji-muscle_paw {
    background-position: -105.0em 0.0em;
}

.cemoji-nail_varnish_paw {
    background-position: -106.0em 0.0em;
}

.cemoji-ok_hand_paw {
    background-position: -107.0em 0.0em;
}

.cemoji-open_hands_paw {
    background-position: -108.0em 0.0em;
}

.cemoji-point_down_paw {
    background-position: -109.0em 0.0em;
}

.cemoji-point_left_paw {
    background-position: -110.0em 0.0em;
}

.cemoji-point_right_paw {
    background-position: -111.0em 0.0em;
}

.cemoji-point_up_paw {
    background-position: -112.0em 0.0em;
}

.cemoji-pray_paw {
    background-position: -113.0em 0.0em;
}

.cemoji-punch_paw {
    background-position: -114.0em 0.0em;
}

.cemoji-raised_hands_paw {
    background-position: -115.0em 0.0em;
}

.cemoji-selfie_paw {
    background-position: -116.0em 0.0em;
}

.cemoji-thumbs_down_paw {
    background-position: -117.0em 0.0em;
}

.cemoji-thumbs_up_paw {
    background-position: -118.0em 0.0em;
}

.cemoji-vulcan_paw {
    background-position: -119.0em 0.0em;
}

.cemoji-v_paw {
    background-position: -120.0em 0.0em;
}

.cemoji-wave_paw {
    background-position: -121.0em 0.0em;
}

.cemoji-writing_hand_paw {
    background-position: -122.0em 0.0em;
}

.cemoji-haircut {
    background-position: -123.0em 0.0em;
}

.cemoji-eyes {
    background-position: -124.0em 0.0em;
}

.cemoji-ghost {
    background-position: -125.0em 0.0em;
}

.cemoji-jack_o_lantern {
    background-position: -126.0em 0.0em;
}

.cemoji-skull {
    background-position: -127.0em 0.0em;
}

.cemoji-skull_and_crossbones {
    background-position: -128.0em 0.0em;
}

.cemoji-arms_in_the_air {
    background-position: -129.0em 0.0em;
}

.cemoji-bow {
    background-position: -130.0em 0.0em;
}

.cemoji-facepalm {
    background-position: -131.0em 0.0em;
}

.cemoji-massage {
    background-position: -132.0em 0.0em;
}

.cemoji-no_good {
    background-position: -133.0em 0.0em;
}

.cemoji-ok_gesture {
    background-position: -134.0em 0.0em;
}

.cemoji-person_frowning {
    background-position: -135.0em 0.0em;
}

.cemoji-person_pouting {
    background-position: -136.0em 0.0em;
}

.cemoji-raising_hand {
    background-position: -137.0em 0.0em;
}

.cemoji-shrug {
    background-position: -138.0em 0.0em;
}

.cemoji-tipping_hand {
    background-position: -139.0em 0.0em;
}

.cemoji-cat_crying {
    background-position: -140.0em 0.0em;
}

.cemoji-cat_devious {
    background-position: -141.0em 0.0em;
}

.cemoji-cat_grin {
    background-position: -142.0em 0.0em;
}

.cemoji-cat_heart_eyes {
    background-position: -143.0em 0.0em;
}

.cemoji-cat_joy {
    background-position: -144.0em 0.0em;
}

.cemoji-cat_kiss {
    background-position: -145.0em 0.0em;
}

.cemoji-cat_pouting {
    background-position: -146.0em 0.0em;
}

.cemoji-cat_scream {
    background-position: -147.0em 0.0em;
}

.cemoji-cat_smile {
    background-position: -148.0em 0.0em;
}

.cemoji-blushing {
    background-position: -149.0em 0.0em;
}

.cemoji-blush_kiss {
    background-position: -150.0em 0.0em;
}

.cemoji-embarrassed {
    background-position: -151.0em 0.0em;
}

.cemoji-happy_kiss {
    background-position: -152.0em 0.0em;
}

.cemoji-headpats {
    background-position: -153.0em 0.0em;
}

.cemoji-heart_eyes {
    background-position: -154.0em 0.0em;
}

.cemoji-hug {
    background-position: -155.0em 0.0em;
}

.cemoji-kiss {
    background-position: -156.0em 0.0em;
}

.cemoji-relaxed {
    background-position: -157.0em 0.0em;
}

.cemoji-smile_hearts {
    background-position: -158.0em 0.0em;
}

.cemoji-soft {
    background-position: -159.0em 0.0em;
}

.cemoji-wink_kiss {
    background-position: -160.0em 0.0em;
}

.cemoji-big_smile {
    background-position: -161.0em 0.0em;
}

.cemoji-content {
    background-position: -162.0em 0.0em;
}

.cemoji-grin {
    background-position: -163.0em 0.0em;
}

.cemoji-grinning {
    background-position: -164.0em 0.0em;
}

.cemoji-halo {
    background-position: -165.0em 0.0em;
}

.cemoji-happy {
    background-position: -166.0em 0.0em;
}

.cemoji-joy {
    background-position: -167.0em 0.0em;
}

.cemoji-laughing {
    background-position: -168.0em 0.0em;
}

.cemoji-money_face {
    background-position: -169.0em 0.0em;
}

.cemoji-party_face {
    background-position: -170.0em 0.0em;
}

.cemoji-rofl {
    background-position: -171.0em 0.0em;
}

.cemoji-smile {
    background-position: -172.0em 0.0em;
}

.cemoji-stick_out_tongue {
    background-position: -173.0em 0.0em;
}

.cemoji-sweat_smile {
    background-position: -174.0em 0.0em;
}

.cemoji-upside_down_smile {
    background-position: -175.0em 0.0em;
}

.cemoji-wink {
    background-position: -176.0em 0.0em;
}

.cemoji-wink_tongue {
    background-position: -177.0em 0.0em;
}

.cemoji-xd_tongue {
    background-position: -178.0em 0.0em;
}

.cemoji-yum {
    background-position: -179.0em 0.0em;
}

.cemoji-alien {
    background-position: -180.0em 0.0em;
}

.cemoji-alien_monster {
    background-position: -181.0em 0.0em;
}

.cemoji-clown {
    background-position: -182.0em 0.0em;
}

.cemoji-cool_face {
    background-position: -183.0em 0.0em;
}

.cemoji-cowhand {
    background-position: -184.0em 0.0em;
}

.cemoji-grumpy_block {
    background-position: -185.0em 0.0em;
}

.cemoji-hot_shit {
    background-position: -186.0em 0.0em;
}

.cemoji-imp_angry {
    background-position: -187.0em 0.0em;
}

.cemoji-imp_devious {
    background-position: -188.0em 0.0em;
}

.cemoji-nerd_face {
    background-position: -189.0em 0.0em;
}

.cemoji-robot {
    background-position: -190.0em 0.0em;
}

.cemoji-shit {
    background-position: -191.0em 0.0em;
}

.cemoji-tengu_mask {
    background-position: -192.0em 0.0em;
}

.cemoji-concern {
    background-position: -193.0em 0.0em;
}

.cemoji-disappointed_but_relieved {
    background-position: -194.0em 0.0em;
}

.cemoji-expressionless {
    background-position: -195.0em 0.0em;
}

.cemoji-face_without_mouth {
    background-position: -196.0em 0.0em;
}

.cemoji-grimace {
    background-position: -197.0em 0.0em;
}

.cemoji-hand_over_mouth {
    background-position: -198.0em 0.0em;
}

.cemoji-lying_face {
    background-position: -199.0em 0.0em;
}

.cemoji-monocle {
    background-position: -200.0em 0.0em;
}

.cemoji-raised_eyebrow {
    background-position: -201.0em 0.0em;
}

.cemoji-rolling_eyes {
    background-position: -202.0em 0.0em;
}

.cemoji-shush {
    background-position: -203.0em 0.0em;
}

.cemoji-smirk {
    background-position: -204.0em 0.0em;
}

.cemoji-straight_face {
    background-position: -205.0em 0.0em;
}

.cemoji-thinking {
    background-position: -206.0em 0.0em;
}

.cemoji-unamused {
    background-position: -207.0em 0.0em;
}

.cemoji-asleep {
    background-position: -208.0em 0.0em;
}

.cemoji-astonished {
    background-position: -209.0em 0.0em;
}

.cemoji-cold {
    background-position: -210.0em 0.0em;
}

.cemoji-cold_sweat {
    background-position: -211.0em 0.0em;
}

.cemoji-confused {
    background-position: -212.0em 0.0em;
}

.cemoji-crazy {
    background-position: -213.0em 0.0em;
}

.cemoji-dead {
    background-position: -214.0em 0.0em;
}

.cemoji-drooling {
    background-position: -215.0em 0.0em;
}

.cemoji-exhausted {
    background-position: -216.0em 0.0em;
}

.cemoji-hot {
    background-position: -217.0em 0.0em;
}

.cemoji-mind_blown {
    background-position: -218.0em 0.0em;
}

.cemoji-open_mouth {
    background-position: -219.0em 0.0em;
}

.cemoji-pleading {
    background-position: -220.0em 0.0em;
}

.cemoji-scared {
    background-position: -221.0em 0.0em;
}

.cemoji-scream {
    background-position: -222.0em 0.0em;
}

.cemoji-shocked {
    background-position: -223.0em 0.0em;
}

.cemoji-sleepy {
    background-position: -224.0em 0.0em;
}

.cemoji-starry_eyes {
    background-position: -225.0em 0.0em;
}

.cemoji-surprised {
    background-position: -226.0em 0.0em;
}

.cemoji-weary {
    background-position: -227.0em 0.0em;
}

.cemoji-woozy {
    background-position: -228.0em 0.0em;
}

.cemoji-worried {
    background-position: -229.0em 0.0em;
}

.cemoji-zippy_face {
    background-position: -230.0em 0.0em;
}

.cemoji-angry {
    background-position: -231.0em 0.0em;
}

.cemoji-angry_steam {
    background-position: -232.0em 0.0em;
}

.cemoji-bandaged {
    background-position: -233.0em 0.0em;
}

.cemoji-medical_mask {
    background-position: -234.0em 0.0em;
}

.cemoji-nauseous {
    background-position: -235.0em 0.0em;
}

.cemoji-sick {
    background-position: -236.0em 0.0em;
}

.cemoji-sneezing {
    background-position: -237.0em 0.0em;
}

.cemoji-swearing {
    background-position: -238.0em 0.0em;
}

.cemoji-very_angry {
    background-position: -239.0em 0.0em;
}

.cemoji-vomiting {
    background-position: -240.0em 0.0em;
}

.cemoji-confounded {
    background-position: -241.0em 0.0em;
}

.cemoji-crying {
    background-position: -242.0em 0.0em;
}

.cemoji-disappointed {
    background-position: -243.0em 0.0em;
}

.cemoji-frown {
    background-position: -244.0em 0.0em;
}

.cemoji-loud_cry {
    background-position: -245.0em 0.0em;
}

.cemoji-pensive {
    background-position: -246.0em 0.0em;
}

.cemoji-persevering {
    background-position: -247.0em 0.0em;
}

.cemoji-slight_frown {
    background-position: -248.0em 0.0em;
}

.cemoji-sweat {
    background-position: -249.0em 0.0em;
}

.cemoji-unhappy {
    background-position: -250.0em 0.0em;
}

.cemoji-unsure {
    background-position: -251.0em 0.0em;
}

.cemoji-beer {
    background-position: -252.0em 0.0em;
}

.cemoji-beers {
    background-position: -253.0em 0.0em;
}

.cemoji-cannabis_leaf {
    background-position: -254.0em 0.0em;
}

.cemoji-martini {
    background-position: -255.0em 0.0em;
}

.cemoji-sake {
    background-position: -256.0em 0.0em;
}

.cemoji-tropical_drink {
    background-position: -257.0em 0.0em;
}

.cemoji-wine {
    background-position: -258.0em 0.0em;
}

.cemoji-coffee {
    background-position: -259.0em 0.0em;
}

.cemoji-matcha_tea {
    background-position: -260.0em 0.0em;
}

.cemoji-milk {
    background-position: -261.0em 0.0em;
}

.cemoji-bento {
    background-position: -262.0em 0.0em;
}

.cemoji-birthday_cake {
    background-position: -263.0em 0.0em;
}

.cemoji-candy {
    background-position: -264.0em 0.0em;
}

.cemoji-curry_rice {
    background-position: -265.0em 0.0em;
}

.cemoji-dango {
    background-position: -266.0em 0.0em;
}

.cemoji-donut {
    background-position: -267.0em 0.0em;
}

.cemoji-ice_cream {
    background-position: -268.0em 0.0em;
}

.cemoji-knife_and_fork {
    background-position: -269.0em 0.0em;
}

.cemoji-lollipop {
    background-position: -270.0em 0.0em;
}

.cemoji-meat_drumstick {
    background-position: -271.0em 0.0em;
}

.cemoji-meat_on_bone {
    background-position: -272.0em 0.0em;
}

.cemoji-oden {
    background-position: -273.0em 0.0em;
}

.cemoji-onigiri {
    background-position: -274.0em 0.0em;
}

.cemoji-plate {
    background-position: -275.0em 0.0em;
}

.cemoji-rice {
    background-position: -276.0em 0.0em;
}

.cemoji-senbei {
    background-position: -277.0em 0.0em;
}

.cemoji-shaved_ice {
    background-position: -278.0em 0.0em;
}

.cemoji-shortcake {
    background-position: -279.0em 0.0em;
}

.cemoji-sushi {
    background-position: -280.0em 0.0em;
}

.cemoji-cherry {
    background-position: -281.0em 0.0em;
}

.cemoji-eggplant {
    background-position: -282.0em 0.0em;
}

.cemoji-green_apple {
    background-position: -283.0em 0.0em;
}

.cemoji-lemon {
    background-position: -284.0em 0.0em;
}

.cemoji-melon {
    background-position: -285.0em 0.0em;
}

.cemoji-orange {
    background-position: -286.0em 0.0em;
}

.cemoji-peach {
    background-position: -287.0em 0.0em;
}

.cemoji-pear {
    background-position: -288.0em 0.0em;
}

.cemoji-pineapple {
    background-position: -289.0em 0.0em;
}

.cemoji-red_apple {
    background-position: -290.0em 0.0em;
}

.cemoji-strawberry {
    background-position: -291.0em 0.0em;
}

.cemoji-watermelon {
    background-position: -292.0em 0.0em;
}

.cemoji-agender_flag {
    background-position: -293.0em 0.0em;
}

.cemoji-androgyne_flag {
    background-position: -294.0em 0.0em;
}

.cemoji-aromantic_flag {
    background-position: -295.0em 0.0em;
}

.cemoji-asexual_flag {
    background-position: -296.0em 0.0em;
}

.cemoji-bear_flag {
    background-position: -297.0em 0.0em;
}

.cemoji-bigender_flag {
    background-position: -298.0em 0.0em;
}

.cemoji-bisexual_flag {
    background-position: -299.0em 0.0em;
}

.cemoji-demigirl_flag {
    background-position: -300.0em 0.0em;
}

.cemoji-demiguy_flag {
    background-position: -301.0em 0.0em;
}

.cemoji-deminonbinary_flag {
    background-position: -302.0em 0.0em;
}

.cemoji-demisexual_flag {
    background-position: -303.0em 0.0em;
}

.cemoji-enbian_flag {
    background-position: -304.0em 0.0em;
}

.cemoji-genderfluid_flag {
    background-position: -305.0em 0.0em;
}

.cemoji-genderqueer_flag {
    background-position: -306.0em 0.0em;
}

.cemoji-intersex_flag {
    background-position: -307.0em 0.0em;
}

.cemoji-leather_flag {
    background-position: -308.0em 0.0em;
}

.cemoji-lesbian_flag {
    background-position: -309.0em 0.0em;
}

.cemoji-lipstick_lesbian_flag {
    background-position: -310.0em 0.0em;
}

.cemoji-lunaric_flag {
    background-position: -311.0em 0.0em;
}

.cemoji-mercuric_flag {
    background-position: -312.0em 0.0em;
}

.cemoji-neutrois_flag {
    background-position: -313.0em 0.0em;
}

.cemoji-nonbinary_flag {
    background-position: -314.0em 0.0em;
}

.cemoji-omnisexual_flag {
    background-position: -315.0em 0.0em;
}

.cemoji-pansexual_flag {
    background-position: -316.0em 0.0em;
}

.cemoji-polyamory_flag {
    background-position: -317.0em 0.0em;
}

.cemoji-polysexual_flag {
    background-position: -318.0em 0.0em;
}

.cemoji-quoiromantic_flag {
    background-position: -319.0em 0.0em;
}

.cemoji-rainbow_flag {
    background-position: -320.0em 0.0em;
}

.cemoji-solaric_flag {
    background-position: -321.0em 0.0em;
}

.cemoji-stellaric_flag {
    background-position: -322.0em 0.0em;
}

.cemoji-transgender_flag {
    background-position: -323.0em 0.0em;
}

.cemoji-ace_sign {
    background-position: -324.0em 0.0em;
}

.cemoji-aro_sign {
    background-position: -325.0em 0.0em;
}

.cemoji-gay {
    background-position: -326.0em 0.0em;
}

.cemoji-nb {
    background-position: -327.0em 0.0em;
}

.cemoji-queer {
    background-position: -328.0em 0.0em;
}

.cemoji-so_gay {
    background-position: -329.0em 0.0em;
}

.cemoji-androgyne_symbol {
    background-position: -330.0em 0.0em;
}

.cemoji-bisexual_triangles {
    background-position: -331.0em 0.0em;
}

.cemoji-black_triangle {
    background-position: -332.0em 0.0em;
}

.cemoji-furry_pride {
    background-position: -333.0em 0.0em;
}

.cemoji-labrys_symbol {
    background-position: -334.0em 0.0em;
}

.cemoji-lambda {
    background-position: -335.0em 0.0em;
}

.cemoji-male_female_symbol {
    background-position: -336.0em 0.0em;
}

.cemoji-neuter_symbol {
    background-position: -337.0em 0.0em;
}

.cemoji-pink_triangle {
    background-position: -338.0em 0.0em;
}

.cemoji-pride_100 {
    background-position: -339.0em 0.0em;
}

.cemoji-transgender_mercury_symbol {
    background-position: -340.0em 0.0em;
}

.cemoji-transgender_symbol {
    background-position: -341.0em 0.0em;
}

.cemoji-two_female_symbols {
    background-position: -342.0em 0.0em;
}

.cemoji-two_male_symbols {
    background-position: -343.0em 0.0em;
}

.cemoji-female_symbol {
    background-position: -344.0em 0.0em;
}

.cemoji-male_and_female_symbol {
    background-position: -345.0em 0.0em;
}

.cemoji-male_symbol {
    background-position: -346.0em 0.0em;
}

.cemoji-earth_americas {
    background-position: -347.0em 0.0em;
}

.cemoji-earth_antarctic {
    background-position: -348.0em 0.0em;
}

.cemoji-earth_arctic {
    background-position: -349.0em 0.0em;
}

.cemoji-earth_asia_oceania {
    background-position: -350.0em 0.0em;
}

.cemoji-earth_emea {
    background-position: -351.0em 0.0em;
}

.cemoji-earth_pacific {
    background-position: -352.0em 0.0em;
}

.cemoji-bang {
    background-position: -353.0em 0.0em;
}

.cemoji-dash {
    background-position: -354.0em 0.0em;
}

.cemoji-dizzy {
    background-position: -355.0em 0.0em;
}

.cemoji-empty_star {
    background-position: -356.0em 0.0em;
}

.cemoji-fire {
    background-position: -357.0em 0.0em;
}

.cemoji-half_star {
    background-position: -358.0em 0.0em;
}

.cemoji-shining_star {
    background-position: -359.0em 0.0em;
}

.cemoji-shooting_star {
    background-position: -360.0em 0.0em;
}

.cemoji-sparkles {
    background-position: -361.0em 0.0em;
}

.cemoji-star {
    background-position: -362.0em 0.0em;
}

.cemoji-crescent {
    background-position: -363.0em 0.0em;
}

.cemoji-crescent_moon_1 {
    background-position: -364.0em 0.0em;
}

.cemoji-crescent_moon_2 {
    background-position: -365.0em 0.0em;
}

.cemoji-full_moon {
    background-position: -366.0em 0.0em;
}

.cemoji-full_moon_face {
    background-position: -367.0em 0.0em;
}

.cemoji-gibbous_moon_1 {
    background-position: -368.0em 0.0em;
}

.cemoji-gibbous_moon_2 {
    background-position: -369.0em 0.0em;
}

.cemoji-half_moon_1 {
    background-position: -370.0em 0.0em;
}

.cemoji-half_moon_2 {
    background-position: -371.0em 0.0em;
}

.cemoji-moon_crescent_face_left {
    background-position: -372.0em 0.0em;
}

.cemoji-moon_crescent_face_right {
    background-position: -373.0em 0.0em;
}

.cemoji-new_moon {
    background-position: -374.0em 0.0em;
}

.cemoji-new_moon_face {
    background-position: -375.0em 0.0em;
}

.cemoji-cactus {
    background-position: -376.0em 0.0em;
}

.cemoji-christmas_tree {
    background-position: -377.0em 0.0em;
}

.cemoji-evergreen_tree {
    background-position: -378.0em 0.0em;
}

.cemoji-palm_tree {
    background-position: -379.0em 0.0em;
}

.cemoji-cloud {
    background-position: -380.0em 0.0em;
}

.cemoji-lightning {
    background-position: -381.0em 0.0em;
}

.cemoji-lightning_bolt {
    background-position: -382.0em 0.0em;
}

.cemoji-lightning_rain {
    background-position: -383.0em 0.0em;
}

.cemoji-rain {
    background-position: -384.0em 0.0em;
}

.cemoji-snow {
    background-position: -385.0em 0.0em;
}

.cemoji-snowflake {
    background-position: -386.0em 0.0em;
}

.cemoji-sun {
    background-position: -387.0em 0.0em;
}

.cemoji-sun_behind_cloud {
    background-position: -388.0em 0.0em;
}

.cemoji-sun_behind_large_cloud {
    background-position: -389.0em 0.0em;
}

.cemoji-sun_behind_small_cloud {
    background-position: -390.0em 0.0em;
}

.cemoji-sun_cloud_rain {
    background-position: -391.0em 0.0em;
}

.cemoji-sun_face {
    background-position: -392.0em 0.0em;
}

.cemoji-sweat_drops {
    background-position: -393.0em 0.0em;
}

.cemoji-water_drop {
    background-position: -394.0em 0.0em;
}

.cemoji-d10 {
    background-position: -395.0em 0.0em;
}

.cemoji-d12 {
    background-position: -396.0em 0.0em;
}

.cemoji-d20 {
    background-position: -397.0em 0.0em;
}

.cemoji-d4 {
    background-position: -398.0em 0.0em;
}

.cemoji-d6 {
    background-position: -399.0em 0.0em;
}

.cemoji-d8 {
    background-position: -400.0em 0.0em;
}

.cemoji-hanafuda_card {
    background-position: -401.0em 0.0em;
}

.cemoji-bath {
    background-position: -402.0em 0.0em;
}

.cemoji-bath_with_person {
    background-position: -403.0em 0.0em;
}

.cemoji-candle {
    background-position: -404.0em 0.0em;
}

.cemoji-toilet_paper {
    background-position: -405.0em 0.0em;
}

.cemoji-brick {
    background-position: -406.0em 0.0em;
}

.cemoji-firecracker {
    background-position: -407.0em 0.0em;
}

.cemoji-credit_card {
    background-position: -408.0em 0.0em;
}

.cemoji-green_money {
    background-position: -409.0em 0.0em;
}

.cemoji-moneybag {
    background-position: -410.0em 0.0em;
}

.cemoji-pink_money {
    background-position: -411.0em 0.0em;
}

.cemoji-purple_money {
    background-position: -412.0em 0.0em;
}

.cemoji-yellow_money {
    background-position: -413.0em 0.0em;
}

.cemoji-bar_chart {
    background-position: -414.0em 0.0em;
}

.cemoji-blue_book {
    background-position: -415.0em 0.0em;
}

.cemoji-bookmark {
    background-position: -416.0em 0.0em;
}

.cemoji-calendar {
    background-position: -417.0em 0.0em;
}

.cemoji-calendar_spiral {
    background-position: -418.0em 0.0em;
}

.cemoji-closed_mailbox {
    background-position: -419.0em 0.0em;
}

.cemoji-closed_mailbox_with_no_mail {
    background-position: -420.0em 0.0em;
}

.cemoji-date {
    background-position: -421.0em 0.0em;
}

.cemoji-decreasing_graph {
    background-position: -422.0em 0.0em;
}

.cemoji-email {
    background-position: -423.0em 0.0em;
}

.cemoji-envelope {
    background-position: -424.0em 0.0em;
}

.cemoji-envelope_with_arrow {
    background-position: -425.0em 0.0em;
}

.cemoji-folder {
    background-position: -426.0em 0.0em;
}

.cemoji-green_book {
    background-position: -427.0em 0.0em;
}

.cemoji-inbox {
    background-position: -428.0em 0.0em;
}

.cemoji-incoming_envelope {
    background-position: -429.0em 0.0em;
}

.cemoji-increasing_graph {
    background-position: -430.0em 0.0em;
}

.cemoji-love_letter {
    background-position: -431.0em 0.0em;
}

.cemoji-magnifying_glass_left {
    background-position: -432.0em 0.0em;
}

.cemoji-magnifying_glass_right {
    background-position: -433.0em 0.0em;
}

.cemoji-mailbox {
    background-position: -434.0em 0.0em;
}

.cemoji-mailbox_with_no_mail {
    background-position: -435.0em 0.0em;
}

.cemoji-open_folder {
    background-position: -436.0em 0.0em;
}

.cemoji-outbox {
    background-position: -437.0em 0.0em;
}

.cemoji-page {
    background-position: -438.0em 0.0em;
}

.cemoji-page_with_pencil {
    background-position: -439.0em 0.0em;
}

.cemoji-paperclip {
    background-position: -440.0em 0.0em;
}

.cemoji-pen {
    background-position: -441.0em 0.0em;
}

.cemoji-pencil {
    background-position: -442.0em 0.0em;
}

.cemoji-red_book {
    background-position: -443.0em 0.0em;
}

.cemoji-spiral_notebook {
    background-position: -444.0em 0.0em;
}

.cemoji-yellow_book {
    background-position: -445.0em 0.0em;
}

.cemoji-bone {
    background-position: -446.0em 0.0em;
}

.cemoji-coffin {
    background-position: -447.0em 0.0em;
}

.cemoji-glowstick {
    background-position: -448.0em 0.0em;
}

.cemoji-hole {
    background-position: -449.0em 0.0em;
}

.cemoji-balloon {
    background-position: -450.0em 0.0em;
}

.cemoji-confetti_ball {
    background-position: -451.0em 0.0em;
}

.cemoji-tada {
    background-position: -452.0em 0.0em;
}

.cemoji-blue_potion {
    background-position: -453.0em 0.0em;
}

.cemoji-green_potion {
    background-position: -454.0em 0.0em;
}

.cemoji-pink_potion {
    background-position: -455.0em 0.0em;
}

.cemoji-purple_potion {
    background-position: -456.0em 0.0em;
}

.cemoji-red_potion {
    background-position: -457.0em 0.0em;
}

.cemoji-yellow_potion {
    background-position: -458.0em 0.0em;
}

.cemoji-magic_wand {
    background-position: -459.0em 0.0em;
}

.cemoji-crystal_ball {
    background-position: -460.0em 0.0em;
}

.cemoji-pentacle {
    background-position: -461.0em 0.0em;
}

.cemoji-rune_stones {
    background-position: -462.0em 0.0em;
}

.cemoji-spellbook {
    background-position: -463.0em 0.0em;
}

.cemoji-tarot_cup {
    background-position: -464.0em 0.0em;
}

.cemoji-tarot_pentacle {
    background-position: -465.0em 0.0em;
}

.cemoji-tarot_sword {
    background-position: -466.0em 0.0em;
}

.cemoji-tarot_wand {
    background-position: -467.0em 0.0em;
}

.cemoji-oil_lamp {
    background-position: -468.0em 0.0em;
}

.cemoji-arrow {
    background-position: -469.0em 0.0em;
}

.cemoji-bow_and_arrow {
    background-position: -470.0em 0.0em;
}

.cemoji-broadsword {
    background-position: -471.0em 0.0em;
}

.cemoji-crossbow {
    background-position: -472.0em 0.0em;
}

.cemoji-european_battle_axe {
    background-position: -473.0em 0.0em;
}

.cemoji-flail {
    background-position: -474.0em 0.0em;
}

.cemoji-glaive {
    background-position: -475.0em 0.0em;
}

.cemoji-great_axe {
    background-position: -476.0em 0.0em;
}

.cemoji-halberd {
    background-position: -477.0em 0.0em;
}

.cemoji-katana {
    background-position: -478.0em 0.0em;
}

.cemoji-mace {
    background-position: -479.0em 0.0em;
}

.cemoji-rapier {
    background-position: -480.0em 0.0em;
}

.cemoji-sabre {
    background-position: -481.0em 0.0em;
}

.cemoji-shuriken {
    background-position: -482.0em 0.0em;
}

.cemoji-tomahawk {
    background-position: -483.0em 0.0em;
}

.cemoji-war_hammer {
    background-position: -484.0em 0.0em;
}

.cemoji-zweihander {
    background-position: -485.0em 0.0em;
}

.cemoji-arcade_stick {
    background-position: -486.0em 0.0em;
}

.cemoji-battery {
    background-position: -487.0em 0.0em;
}

.cemoji-camcorder {
    background-position: -488.0em 0.0em;
}

.cemoji-camera {
    background-position: -489.0em 0.0em;
}

.cemoji-camera_with_flash {
    background-position: -490.0em 0.0em;
}

.cemoji-cassette {
    background-position: -491.0em 0.0em;
}

.cemoji-cd {
    background-position: -492.0em 0.0em;
}

.cemoji-computer {
    background-position: -493.0em 0.0em;
}

.cemoji-computer_mouse {
    background-position: -494.0em 0.0em;
}

.cemoji-control_knobs {
    background-position: -495.0em 0.0em;
}

.cemoji-crt {
    background-position: -496.0em 0.0em;
}

.cemoji-crt_blue_screen {
    background-position: -497.0em 0.0em;
}

.cemoji-crt_green_lines {
    background-position: -498.0em 0.0em;
}

.cemoji-crt_noise {
    background-position: -499.0em 0.0em;
}

.cemoji-crt_prompt {
    background-position: -500.0em 0.0em;
}

.cemoji-crt_test_pattern {
    background-position: -501.0em 0.0em;
}

.cemoji-dvd {
    background-position: -502.0em 0.0em;
}

.cemoji-fax_machine {
    background-position: -503.0em 0.0em;
}

.cemoji-film_frames {
    background-position: -504.0em 0.0em;
}

.cemoji-film_projector {
    background-position: -505.0em 0.0em;
}

.cemoji-floppy_disk {
    background-position: -506.0em 0.0em;
}

.cemoji-gamepad {
    background-position: -507.0em 0.0em;
}

.cemoji-joystick {
    background-position: -508.0em 0.0em;
}

.cemoji-keyboard {
    background-position: -509.0em 0.0em;
}

.cemoji-landline_phone {
    background-position: -510.0em 0.0em;
}

.cemoji-laptop {
    background-position: -511.0em 0.0em;
}

.cemoji-level_slider {
    background-position: -512.0em 0.0em;
}

.cemoji-lp {
    background-position: -513.0em 0.0em;
}

.cemoji-microphone {
    background-position: -514.0em 0.0em;
}

.cemoji-minidisc {
    background-position: -515.0em 0.0em;
}

.cemoji-movie_camera {
    background-position: -516.0em 0.0em;
}

.cemoji-pager {
    background-position: -517.0em 0.0em;
}

.cemoji-phone {
    background-position: -518.0em 0.0em;
}

.cemoji-phone_off {
    background-position: -519.0em 0.0em;
}

.cemoji-phone_receiver {
    background-position: -520.0em 0.0em;
}

.cemoji-phone_vibrate {
    background-position: -521.0em 0.0em;
}

.cemoji-phone_with_arrow {
    background-position: -522.0em 0.0em;
}

.cemoji-printer {
    background-position: -523.0em 0.0em;
}

.cemoji-radio {
    background-position: -524.0em 0.0em;
}

.cemoji-speaker {
    background-position: -525.0em 0.0em;
}

.cemoji-stylus {
    background-position: -526.0em 0.0em;
}

.cemoji-trackball {
    background-position: -527.0em 0.0em;
}

.cemoji-tv {
    background-position: -528.0em 0.0em;
}

.cemoji-vhs {
    background-position: -529.0em 0.0em;
}

.cemoji-vr_headset {
    background-position: -530.0em 0.0em;
}

.cemoji-watch {
    background-position: -531.0em 0.0em;
}

.cemoji-2_busts_in_silhouette {
    background-position: -532.0em 0.0em;
}

.cemoji-bust_in_silhouette {
    background-position: -533.0em 0.0em;
}

.cemoji-paws {
    background-position: -534.0em 0.0em;
}

.cemoji-paw_print {
    background-position: -535.0em 0.0em;
}

.cemoji-spider_web {
    background-position: -536.0em 0.0em;
}

.cemoji-ear {
    background-position: -537.0em 0.0em;
}

.cemoji-eye {
    background-position: -538.0em 0.0em;
}

.cemoji-long_pointed_ear {
    background-position: -539.0em 0.0em;
}

.cemoji-pointed_ear {
    background-position: -540.0em 0.0em;
}

.cemoji-dolphin {
    background-position: -541.0em 0.0em;
}

.cemoji-puffer_fish {
    background-position: -542.0em 0.0em;
}

.cemoji-shark {
    background-position: -543.0em 0.0em;
}

.cemoji-turtle {
    background-position: -544.0em 0.0em;
}

.cemoji-blue_jay {
    background-position: -545.0em 0.0em;
}

.cemoji-crane {
    background-position: -546.0em 0.0em;
}

.cemoji-crow {
    background-position: -547.0em 0.0em;
}

.cemoji-dove {
    background-position: -548.0em 0.0em;
}

.cemoji-duck {
    background-position: -549.0em 0.0em;
}

.cemoji-eagle {
    background-position: -550.0em 0.0em;
}

.cemoji-owl {
    background-position: -551.0em 0.0em;
}

.cemoji-parrot {
    background-position: -552.0em 0.0em;
}

.cemoji-peacock {
    background-position: -553.0em 0.0em;
}

.cemoji-pelican {
    background-position: -554.0em 0.0em;
}

.cemoji-penguin {
    background-position: -555.0em 0.0em;
}

.cemoji-pigeon {
    background-position: -556.0em 0.0em;
}

.cemoji-rooster {
    background-position: -557.0em 0.0em;
}

.cemoji-toucan {
    background-position: -558.0em 0.0em;
}

.cemoji-coyote {
    background-position: -559.0em 0.0em;
}

.cemoji-fox {
    background-position: -560.0em 0.0em;
}

.cemoji-jackal {
    background-position: -561.0em 0.0em;
}

.cemoji-wolf {
    background-position: -562.0em 0.0em;
}

.cemoji-bugbear {
    background-position: -563.0em 0.0em;
}

.cemoji-dark_elf {
    background-position: -564.0em 0.0em;
}

.cemoji-demon {
    background-position: -565.0em 0.0em;
}

.cemoji-elf {
    background-position: -566.0em 0.0em;
}

.cemoji-fish_person {
    background-position: -567.0em 0.0em;
}

.cemoji-goblin {
    background-position: -568.0em 0.0em;
}

.cemoji-half_demon {
    background-position: -569.0em 0.0em;
}

.cemoji-kobold {
    background-position: -570.0em 0.0em;
}

.cemoji-merperson {
    background-position: -571.0em 0.0em;
}

.cemoji-minotaur {
    background-position: -572.0em 0.0em;
}

.cemoji-oni {
    background-position: -573.0em 0.0em;
}

.cemoji-orc {
    background-position: -574.0em 0.0em;
}

.cemoji-troll {
    background-position: -575.0em 0.0em;
}

.cemoji-cheetah {
    background-position: -576.0em 0.0em;
}

.cemoji-hyena {
    background-position: -577.0em 0.0em;
}

.cemoji-jaguar {
    background-position: -578.0em 0.0em;
}

.cemoji-leopard {
    background-position: -579.0em 0.0em;
}

.cemoji-lion_without_mane {
    background-position: -580.0em 0.0em;
}

.cemoji-lion_with_mane {
    background-position: -581.0em 0.0em;
}

.cemoji-lynx {
    background-position: -582.0em 0.0em;
}

.cemoji-snow_leopard {
    background-position: -583.0em 0.0em;
}

.cemoji-tiger {
    background-position: -584.0em 0.0em;
}

.cemoji-spider {
    background-position: -585.0em 0.0em;
}

.cemoji-gryphon {
    background-position: -586.0em 0.0em;
}

.cemoji-slime {
    background-position: -587.0em 0.0em;
}

.cemoji-bear {
    background-position: -588.0em 0.0em;
}

.cemoji-deer_without_antlers {
    background-position: -589.0em 0.0em;
}

.cemoji-deer_with_antlers {
    background-position: -590.0em 0.0em;
}

.cemoji-mouse {
    background-position: -591.0em 0.0em;
}

.cemoji-opossum {
    background-position: -592.0em 0.0em;
}

.cemoji-otter {
    background-position: -593.0em 0.0em;
}

.cemoji-panda {
    background-position: -594.0em 0.0em;
}

.cemoji-rabbit {
    background-position: -595.0em 0.0em;
}

.cemoji-raccoon {
    background-position: -596.0em 0.0em;
}

.cemoji-ram {
    background-position: -597.0em 0.0em;
}

.cemoji-rat {
    background-position: -598.0em 0.0em;
}

.cemoji-red_panda {
    background-position: -599.0em 0.0em;
}

.cemoji-eastern_dragon {
    background-position: -600.0em 0.0em;
}

.cemoji-snake {
    background-position: -601.0em 0.0em;
}

.cemoji-western_dragon {
    background-position: -602.0em 0.0em;
}

.cemoji-arrows_clockwise {
    background-position: -603.0em 0.0em;
}

.cemoji-arrows_counterclockwise {
    background-position: -604.0em 0.0em;
}

.cemoji-arrow_curve_down {
    background-position: -605.0em 0.0em;
}

.cemoji-arrow_curve_left {
    background-position: -606.0em 0.0em;
}

.cemoji-arrow_curve_right {
    background-position: -607.0em 0.0em;
}

.cemoji-arrow_curve_up {
    background-position: -608.0em 0.0em;
}

.cemoji-arrow_down {
    background-position: -609.0em 0.0em;
}

.cemoji-arrow_down_left {
    background-position: -610.0em 0.0em;
}

.cemoji-arrow_down_right {
    background-position: -611.0em 0.0em;
}

.cemoji-arrow_left {
    background-position: -612.0em 0.0em;
}

.cemoji-arrow_left_right {
    background-position: -613.0em 0.0em;
}

.cemoji-arrow_right {
    background-position: -614.0em 0.0em;
}

.cemoji-arrow_up {
    background-position: -615.0em 0.0em;
}

.cemoji-arrow_up_down {
    background-position: -616.0em 0.0em;
}

.cemoji-arrow_up_left {
    background-position: -617.0em 0.0em;
}

.cemoji-arrow_up_right {
    background-position: -618.0em 0.0em;
}

.cemoji-back {
    background-position: -619.0em 0.0em;
}

.cemoji-end {
    background-position: -620.0em 0.0em;
}

.cemoji-on_arrow {
    background-position: -621.0em 0.0em;
}

.cemoji-soon {
    background-position: -622.0em 0.0em;
}

.cemoji-top {
    background-position: -623.0em 0.0em;
}

.cemoji-10_00 {
    background-position: -624.0em 0.0em;
}

.cemoji-10_30 {
    background-position: -625.0em 0.0em;
}

.cemoji-11_00 {
    background-position: -626.0em 0.0em;
}

.cemoji-11_30 {
    background-position: -627.0em 0.0em;
}

.cemoji-12_00 {
    background-position: -628.0em 0.0em;
}

.cemoji-12_30 {
    background-position: -629.0em 0.0em;
}

.cemoji-1_00 {
    background-position: -630.0em 0.0em;
}

.cemoji-1_30 {
    background-position: -631.0em 0.0em;
}

.cemoji-2_00 {
    background-position: -632.0em 0.0em;
}

.cemoji-2_30 {
    background-position: -633.0em 0.0em;
}

.cemoji-3_00 {
    background-position: -634.0em 0.0em;
}

.cemoji-3_30 {
    background-position: -635.0em 0.0em;
}

.cemoji-4_00 {
    background-position: -636.0em 0.0em;
}

.cemoji-4_30 {
    background-position: -637.0em 0.0em;
}

.cemoji-5_00 {
    background-position: -638.0em 0.0em;
}

.cemoji-5_30 {
    background-position: -639.0em 0.0em;
}

.cemoji-6_00 {
    background-position: -640.0em 0.0em;
}

.cemoji-6_30 {
    background-position: -641.0em 0.0em;
}

.cemoji-7_00 {
    background-position: -642.0em 0.0em;
}

.cemoji-7_30 {
    background-position: -643.0em 0.0em;
}

.cemoji-8_00 {
    background-position: -644.0em 0.0em;
}

.cemoji-8_30 {
    background-position: -645.0em 0.0em;
}

.cemoji-9_00 {
    background-position: -646.0em 0.0em;
}

.cemoji-9_30 {
    background-position: -647.0em 0.0em;
}

.cemoji-awoo {
    background-position: -648.0em 0.0em;
}

.cemoji-battery_empty {
    background-position: -649.0em 0.0em;
}

.cemoji-battery_full {
    background-position: -650.0em 0.0em;
}

.cemoji-battery_low {
    background-position: -651.0em 0.0em;
}

.cemoji-battery_medium {
    background-position: -652.0em 0.0em;
}

.cemoji-dont_at_me {
    background-position: -653.0em 0.0em;
}

.cemoji-dont_awoo {
    background-position: -654.0em 0.0em;
}

.cemoji-privacy {
    background-position: -655.0em 0.0em;
}

.cemoji-red_umbrella {
    background-position: -656.0em 0.0em;
}

.cemoji-black_flag {
    background-position: -657.0em 0.0em;
}

.cemoji-crossed_flags {
    background-position: -658.0em 0.0em;
}

.cemoji-finish_flag {
    background-position: -659.0em 0.0em;
}

.cemoji-pirate_flag {
    background-position: -660.0em 0.0em;
}

.cemoji-triangular_flag {
    background-position: -661.0em 0.0em;
}

.cemoji-white_flag {
    background-position: -662.0em 0.0em;
}

.cemoji-beating_heart {
    background-position: -663.0em 0.0em;
}

.cemoji-black_heart {
    background-position: -664.0em 0.0em;
}

.cemoji-blue_heart {
    background-position: -665.0em 0.0em;
}

.cemoji-broken_heart {
    background-position: -666.0em 0.0em;
}

.cemoji-empty_heart {
    background-position: -667.0em 0.0em;
}

.cemoji-green_heart {
    background-position: -668.0em 0.0em;
}

.cemoji-half_heart {
    background-position: -669.0em 0.0em;
}

.cemoji-heart_arrow {
    background-position: -670.0em 0.0em;
}

.cemoji-heart_exclamation_mark {
    background-position: -671.0em 0.0em;
}

.cemoji-heart_growing {
    background-position: -672.0em 0.0em;
}

.cemoji-heart_ribbon {
    background-position: -673.0em 0.0em;
}

.cemoji-orange_heart {
    background-position: -674.0em 0.0em;
}

.cemoji-purple_heart {
    background-position: -675.0em 0.0em;
}

.cemoji-red_heart {
    background-position: -676.0em 0.0em;
}

.cemoji-sparkling_heart {
    background-position: -677.0em 0.0em;
}

.cemoji-two_hearts {
    background-position: -678.0em 0.0em;
}

.cemoji-two_hearts_orbit {
    background-position: -679.0em 0.0em;
}

.cemoji-yellow_heart {
    background-position: -680.0em 0.0em;
}

.cemoji-acceptable {
    background-position: -681.0em 0.0em;
}

.cemoji-bargain {
    background-position: -682.0em 0.0em;
}

.cemoji-beginner {
    background-position: -683.0em 0.0em;
}

.cemoji-blood_type_a {
    background-position: -684.0em 0.0em;
}

.cemoji-blood_type_ab {
    background-position: -685.0em 0.0em;
}

.cemoji-blood_type_b {
    background-position: -686.0em 0.0em;
}

.cemoji-blood_type_o {
    background-position: -687.0em 0.0em;
}

.cemoji-congratulations {
    background-position: -688.0em 0.0em;
}

.cemoji-discount {
    background-position: -689.0em 0.0em;
}

.cemoji-free_of_charge {
    background-position: -690.0em 0.0em;
}

.cemoji-koko {
    background-position: -691.0em 0.0em;
}

.cemoji-month {
    background-position: -692.0em 0.0em;
}

.cemoji-not_free {
    background-position: -693.0em 0.0em;
}

.cemoji-no_vacancy {
    background-position: -694.0em 0.0em;
}

.cemoji-open_for_business {
    background-position: -695.0em 0.0em;
}

.cemoji-passing_grade {
    background-position: -696.0em 0.0em;
}

.cemoji-prohibited {
    background-position: -697.0em 0.0em;
}

.cemoji-request {
    background-position: -698.0em 0.0em;
}

.cemoji-reserved {
    background-position: -699.0em 0.0em;
}

.cemoji-sa {
    background-position: -700.0em 0.0em;
}

.cemoji-secret {
    background-position: -701.0em 0.0em;
}

.cemoji-vacancy {
    background-position: -702.0em 0.0em;
}

.cemoji-cool {
    background-position: -703.0em 0.0em;
}

.cemoji-free {
    background-position: -704.0em 0.0em;
}

.cemoji-new {
    background-position: -705.0em 0.0em;
}

.cemoji-ng {
    background-position: -706.0em 0.0em;
}

.cemoji-ok {
    background-position: -707.0em 0.0em;
}

.cemoji-up {
    background-position: -708.0em 0.0em;
}

.cemoji-vs {
    background-position: -709.0em 0.0em;
}

.cemoji-eject {
    background-position: -710.0em 0.0em;
}

.cemoji-fast_down {
    background-position: -711.0em 0.0em;
}

.cemoji-fast_forward {
    background-position: -712.0em 0.0em;
}

.cemoji-fast_up {
    background-position: -713.0em 0.0em;
}

.cemoji-pause {
    background-position: -714.0em 0.0em;
}

.cemoji-play {
    background-position: -715.0em 0.0em;
}

.cemoji-play_down {
    background-position: -716.0em 0.0em;
}

.cemoji-play_pause {
    background-position: -717.0em 0.0em;
}

.cemoji-play_up {
    background-position: -718.0em 0.0em;
}

.cemoji-record {
    background-position: -719.0em 0.0em;
}

.cemoji-repeat {
    background-position: -720.0em 0.0em;
}

.cemoji-repeat_once {
    background-position: -721.0em 0.0em;
}

.cemoji-reverse {
    background-position: -722.0em 0.0em;
}

.cemoji-rewind {
    background-position: -723.0em 0.0em;
}

.cemoji-shuffle {
    background-position: -724.0em 0.0em;
}

.cemoji-skip_back {
    background-position: -725.0em 0.0em;
}

.cemoji-skip_forward {
    background-position: -726.0em 0.0em;
}

.cemoji-stop {
    background-position: -727.0em 0.0em;
}

.cemoji-100 {
    background-position: -728.0em 0.0em;
}

.cemoji-8_asterisk {
    background-position: -729.0em 0.0em;
}

.cemoji-8_star {
    background-position: -730.0em 0.0em;
}

.cemoji-anger_symbol {
    background-position: -731.0em 0.0em;
}

.cemoji-chart {
    background-position: -732.0em 0.0em;
}

.cemoji-circle {
    background-position: -733.0em 0.0em;
}

.cemoji-diamond_with_dot {
    background-position: -734.0em 0.0em;
}

.cemoji-exclamation_exclamation {
    background-position: -735.0em 0.0em;
}

.cemoji-exclamation_mark_gray {
    background-position: -736.0em 0.0em;
}

.cemoji-exclamation_mark_red {
    background-position: -737.0em 0.0em;
}

.cemoji-exclamation_question {
    background-position: -738.0em 0.0em;
}

.cemoji-globe {
    background-position: -739.0em 0.0em;
}

.cemoji-green_cross {
    background-position: -740.0em 0.0em;
}

.cemoji-name_badge {
    background-position: -741.0em 0.0em;
}

.cemoji-question_mark_gray {
    background-position: -742.0em 0.0em;
}

.cemoji-question_mark_red {
    background-position: -743.0em 0.0em;
}

.cemoji-sparkle {
    background-position: -744.0em 0.0em;
}

.cemoji-spiral {
    background-position: -745.0em 0.0em;
}

.cemoji-tick {
    background-position: -746.0em 0.0em;
}

.cemoji-zzz {
    background-position: -747.0em 0.0em;
}

.cemoji-0 {
    background-position: -748.0em 0.0em;
}

.cemoji-1 {
    background-position: -749.0em 0.0em;
}

.cemoji-10 {
    background-position: -750.0em 0.0em;
}

.cemoji-2 {
    background-position: -751.0em 0.0em;
}

.cemoji-3 {
    background-position: -752.0em 0.0em;
}

.cemoji-4 {
    background-position: -753.0em 0.0em;
}

.cemoji-5 {
    background-position: -754.0em 0.0em;
}

.cemoji-6 {
    background-position: -755.0em 0.0em;
}

.cemoji-7 {
    background-position: -756.0em 0.0em;
}

.cemoji-8 {
    background-position: -757.0em 0.0em;
}

.cemoji-9 {
    background-position: -758.0em 0.0em;
}

.cemoji-abc {
    background-position: -759.0em 0.0em;
}

.cemoji-asterisk {
    background-position: -760.0em 0.0em;
}

.cemoji-cl {
    background-position: -761.0em 0.0em;
}

.cemoji-hash {
    background-position: -762.0em 0.0em;
}

.cemoji-high_brightness {
    background-position: -763.0em 0.0em;
}

.cemoji-latin_lowercase {
    background-position: -764.0em 0.0em;
}

.cemoji-latin_uppercase {
    background-position: -765.0em 0.0em;
}

.cemoji-low_brightness {
    background-position: -766.0em 0.0em;
}

.cemoji-numbers {
    background-position: -767.0em 0.0em;
}

.cemoji-signal {
    background-position: -768.0em 0.0em;
}

.cemoji-special_characters {
    background-position: -769.0em 0.0em;
}

.cemoji-18_plus {
    background-position: -770.0em 0.0em;
}

.cemoji-cross {
    background-position: -771.0em 0.0em;
}

.cemoji-no {
    background-position: -772.0em 0.0em;
}

.cemoji-no_entry {
    background-position: -773.0em 0.0em;
}

.cemoji-stop_sign {
    background-position: -774.0em 0.0em;
}

.cemoji-hp {
    background-position: -775.0em 0.0em;
}

.cemoji-mp {
    background-position: -776.0em 0.0em;
}

.cemoji-pp {
    background-position: -777.0em 0.0em;
}

.cemoji-xp {
    background-position: -778.0em 0.0em;
}

.cemoji-black_circle {
    background-position: -779.0em 0.0em;
}

.cemoji-black_large_square {
    background-position: -780.0em 0.0em;
}

.cemoji-black_medium_small_square {
    background-position: -781.0em 0.0em;
}

.cemoji-black_medium_square {
    background-position: -782.0em 0.0em;
}

.cemoji-black_small_square {
    background-position: -783.0em 0.0em;
}

.cemoji-black_square_button {
    background-position: -784.0em 0.0em;
}

.cemoji-blue_circle {
    background-position: -785.0em 0.0em;
}

.cemoji-large_blue_diamond {
    background-position: -786.0em 0.0em;
}

.cemoji-large_orange_diamond {
    background-position: -787.0em 0.0em;
}

.cemoji-red_circle {
    background-position: -788.0em 0.0em;
}

.cemoji-red_downward_triangle {
    background-position: -789.0em 0.0em;
}

.cemoji-red_upward_triangle {
    background-position: -790.0em 0.0em;
}

.cemoji-small_blue_diamond {
    background-position: -791.0em 0.0em;
}

.cemoji-small_orange_diamond {
    background-position: -792.0em 0.0em;
}

.cemoji-white_circle {
    background-position: -793.0em 0.0em;
}

.cemoji-white_large_square {
    background-position: -794.0em 0.0em;
}

.cemoji-white_medium_small_square {
    background-position: -795.0em 0.0em;
}

.cemoji-white_medium_square {
    background-position: -796.0em 0.0em;
}

.cemoji-white_small_square {
    background-position: -797.0em 0.0em;
}

.cemoji-white_square_button {
    background-position: -798.0em 0.0em;
}

.cemoji-atm {
    background-position: -799.0em 0.0em;
}

.cemoji-cinema {
    background-position: -800.0em 0.0em;
}

.cemoji-info {
    background-position: -801.0em 0.0em;
}

.cemoji-metro_sign {
    background-position: -802.0em 0.0em;
}

.cemoji-parking {
    background-position: -803.0em 0.0em;
}

.cemoji-potable_water {
    background-position: -804.0em 0.0em;
}

.cemoji-sos {
    background-position: -805.0em 0.0em;
}

.cemoji-toilet {
    background-position: -806.0em 0.0em;
}

.cemoji-wc {
    background-position: -807.0em 0.0em;
}

.cemoji-wheelchair {
    background-position: -808.0em 0.0em;
}

.cemoji-qr_code {
    background-position: -809.0em 0.0em;
}

.cemoji-aquarius {
    background-position: -810.0em 0.0em;
}

.cemoji-aries {
    background-position: -811.0em 0.0em;
}

.cemoji-cancer {
    background-position: -812.0em 0.0em;
}

.cemoji-capricorn {
    background-position: -813.0em 0.0em;
}

.cemoji-gemini {
    background-position: -814.0em 0.0em;
}

.cemoji-leo {
    background-position: -815.0em 0.0em;
}

.cemoji-libra {
    background-position: -816.0em 0.0em;
}

.cemoji-pisces {
    background-position: -817.0em 0.0em;
}

.cemoji-sagittarius {
    background-position: -818.0em 0.0em;
}

.cemoji-scorpio {
    background-position: -819.0em 0.0em;
}

.cemoji-taurus {
    background-position: -820.0em 0.0em;
}

.cemoji-virgo {
    background-position: -821.0em 0.0em;
}

.cemoji-traffic_light_horizontal {
    background-position: -822.0em 0.0em;
}

.cemoji-traffic_light_vertical {
    background-position: -823.0em 0.0em;
}

.cemoji-beach {
    background-position: -824.0em 0.0em;
}

.cemoji-beach_umbrella {
    background-position: -825.0em 0.0em;
}

.cemoji-desert_island {
    background-position: -826.0em 0.0em;
}

.cemoji-mountain {
    background-position: -827.0em 0.0em;
}

.cemoji-mount_fuji {
    background-position: -828.0em 0.0em;
}

.cemoji-snowy_mountain {
    background-position: -829.0em 0.0em;
}

.cemoji-statue_of_liberty {
    background-position: -830.0em 0.0em;
}

.cemoji-tokyo_tower {
    background-position: -831.0em 0.0em;
}

.cemoji-volcano {
    background-position: -832.0em 0.0em;
}

.cemoji-world_map {
    background-position: -833.0em 0.0em;
}

.cemoji-bridge_at_night {
    background-position: -834.0em 0.0em;
}

.cemoji-cityscape {
    background-position: -835.0em 0.0em;
}

.cemoji-dusk_city {
    background-position: -836.0em 0.0em;
}

.cemoji-fireworks {
    background-position: -837.0em 0.0em;
}

.cemoji-milky_way {
    background-position: -838.0em 0.0em;
}

.cemoji-night_with_stars {
    background-position: -839.0em 0.0em;
}

.cemoji-sparkler {
    background-position: -840.0em 0.0em;
}

.cemoji-sunset_city {
    background-position: -841.0em 0.0em;
}

.cemoji-aerial_tramway {
    background-position: -842.0em 0.0em;
}

.cemoji-bullet_train {
    background-position: -843.0em 0.0em;
}

.cemoji-high_speed_train {
    background-position: -844.0em 0.0em;
}

.cemoji-light_rail {
    background-position: -845.0em 0.0em;
}

.cemoji-metro {
    background-position: -846.0em 0.0em;
}

.cemoji-monorail {
    background-position: -847.0em 0.0em;
}

.cemoji-mountain_tramway {
    background-position: -848.0em 0.0em;
}

.cemoji-railway_car {
    background-position: -849.0em 0.0em;
}

.cemoji-station {
    background-position: -850.0em 0.0em;
}

.cemoji-suspension_railway {
    background-position: -851.0em 0.0em;
}

.cemoji-train {
    background-position: -852.0em 0.0em;
}

.cemoji-tram {
    background-position: -853.0em 0.0em;
}

.cemoji-tram_car {
    background-position: -854.0em 0.0em;
}

.cemoji-claw_hand_modifier {
    background-position: -855.0em 0.0em;
}

.cemoji-color_modifier {
    background-position: -856.0em 0.0em;
}

.cemoji-paw_hand_modifier {
    background-position: -857.0em 0.0em;
}
