i.cemoji {
    background-image: url('/emoji_map/emoji.png');
    background-size: 858.0em;
    width: 1em;
    height: 1em;
    display: inline-block;
    object-fit: contain ! important;
    vertical-align: middle ! important;
}

.air_tank {
    background-position: -0.0em 0.0em;
}

.bike_pump {
    background-position: -1.0em 0.0em;
}

.ceralor_smile {
    background-position: -2.0em 0.0em;
}

.ceralor_tail {
    background-position: -3.0em 0.0em;
}

.kay_excited {
    background-position: -4.0em 0.0em;
}

.kay_frustrated {
    background-position: -5.0em 0.0em;
}

.kay_grinning {
    background-position: -6.0em 0.0em;
}

.kay_mischievous {
    background-position: -7.0em 0.0em;
}

.kay_teased {
    background-position: -8.0em 0.0em;
}

.kay_thinking {
    background-position: -9.0em 0.0em;
}

.pool_toy_valve {
    background-position: -10.0em 0.0em;
}

.pool_toy_valve_open {
    background-position: -11.0em 0.0em;
}

.artist {
    background-position: -12.0em 0.0em;
}

.astronaut {
    background-position: -13.0em 0.0em;
}

.chef {
    background-position: -14.0em 0.0em;
}

.construction_worker {
    background-position: -15.0em 0.0em;
}

.detective {
    background-position: -16.0em 0.0em;
}

.factory_worker {
    background-position: -17.0em 0.0em;
}

.farmer {
    background-position: -18.0em 0.0em;
}

.firefighter {
    background-position: -19.0em 0.0em;
}

.guard {
    background-position: -20.0em 0.0em;
}

.health_worker {
    background-position: -21.0em 0.0em;
}

.judge {
    background-position: -22.0em 0.0em;
}

.mechanic {
    background-position: -23.0em 0.0em;
}

.office_worker {
    background-position: -24.0em 0.0em;
}

.pilot {
    background-position: -25.0em 0.0em;
}

.scientist {
    background-position: -26.0em 0.0em;
}

.singer {
    background-position: -27.0em 0.0em;
}

.student {
    background-position: -28.0em 0.0em;
}

.teacher {
    background-position: -29.0em 0.0em;
}

.technologist {
    background-position: -30.0em 0.0em;
}

.back_of_hand_clw {
    background-position: -31.0em 0.0em;
}

.call_me_clw {
    background-position: -32.0em 0.0em;
}

.clap_clw {
    background-position: -33.0em 0.0em;
}

.crossed_fingers_clw {
    background-position: -34.0em 0.0em;
}

.fist_clw {
    background-position: -35.0em 0.0em;
}

.fist_facing_left_clw {
    background-position: -36.0em 0.0em;
}

.fist_facing_right_clw {
    background-position: -37.0em 0.0em;
}

.handshake_clw {
    background-position: -38.0em 0.0em;
}

.hand_clw {
    background-position: -39.0em 0.0em;
}

.hand_splayed_clw {
    background-position: -40.0em 0.0em;
}

.index_finger_clw {
    background-position: -41.0em 0.0em;
}

.metal_clw {
    background-position: -42.0em 0.0em;
}

.middle_finger_clw {
    background-position: -43.0em 0.0em;
}

.muscle_clw {
    background-position: -44.0em 0.0em;
}

.nail_varnish_clw {
    background-position: -45.0em 0.0em;
}

.ok_hand_clw {
    background-position: -46.0em 0.0em;
}

.open_hands_clw {
    background-position: -47.0em 0.0em;
}

.point_down_clw {
    background-position: -48.0em 0.0em;
}

.point_left_clw {
    background-position: -49.0em 0.0em;
}

.point_right_clw {
    background-position: -50.0em 0.0em;
}

.point_up_clw {
    background-position: -51.0em 0.0em;
}

.pray_clw {
    background-position: -52.0em 0.0em;
}

.punch_clw {
    background-position: -53.0em 0.0em;
}

.raised_hands_clw {
    background-position: -54.0em 0.0em;
}

.selfie_clw {
    background-position: -55.0em 0.0em;
}

.thumbs_down_clw {
    background-position: -56.0em 0.0em;
}

.thumbs_up_clw {
    background-position: -57.0em 0.0em;
}

.vulcan_clw {
    background-position: -58.0em 0.0em;
}

.v_clw {
    background-position: -59.0em 0.0em;
}

.wave_clw {
    background-position: -60.0em 0.0em;
}

.writing_hand_clw {
    background-position: -61.0em 0.0em;
}

.back_of_hand_hmn {
    background-position: -62.0em 0.0em;
}

.call_me_hmn {
    background-position: -63.0em 0.0em;
}

.clap_hmn {
    background-position: -64.0em 0.0em;
}

.crossed_fingers_hmn {
    background-position: -65.0em 0.0em;
}

.fist_facing_left_hmn {
    background-position: -66.0em 0.0em;
}

.fist_facing_right_hmn {
    background-position: -67.0em 0.0em;
}

.fist_hmn {
    background-position: -68.0em 0.0em;
}

.handshake_hmn {
    background-position: -69.0em 0.0em;
}

.hand_hmn {
    background-position: -70.0em 0.0em;
}

.hand_splayed_hmn {
    background-position: -71.0em 0.0em;
}

.index_finger_hmn {
    background-position: -72.0em 0.0em;
}

.metal_hmn {
    background-position: -73.0em 0.0em;
}

.middle_finger_hmn {
    background-position: -74.0em 0.0em;
}

.muscle_hmn {
    background-position: -75.0em 0.0em;
}

.nail_varnish_hmn {
    background-position: -76.0em 0.0em;
}

.ok_hand_hmn {
    background-position: -77.0em 0.0em;
}

.open_hands_hmn {
    background-position: -78.0em 0.0em;
}

.point_down_hmn {
    background-position: -79.0em 0.0em;
}

.point_left_hmn {
    background-position: -80.0em 0.0em;
}

.point_right_hmn {
    background-position: -81.0em 0.0em;
}

.point_up_hmn {
    background-position: -82.0em 0.0em;
}

.pray_hmn {
    background-position: -83.0em 0.0em;
}

.punch_hmn {
    background-position: -84.0em 0.0em;
}

.raised_hands_hmn {
    background-position: -85.0em 0.0em;
}

.selfie_hmn {
    background-position: -86.0em 0.0em;
}

.thumbs_down_hmn {
    background-position: -87.0em 0.0em;
}

.thumbs_up_hmn {
    background-position: -88.0em 0.0em;
}

.vulcan_hmn {
    background-position: -89.0em 0.0em;
}

.v_hmn {
    background-position: -90.0em 0.0em;
}

.wave_hmn {
    background-position: -91.0em 0.0em;
}

.writing_hand_hmn {
    background-position: -92.0em 0.0em;
}

.back_of_hand_paw {
    background-position: -93.0em 0.0em;
}

.call_me_paw {
    background-position: -94.0em 0.0em;
}

.clap_paw {
    background-position: -95.0em 0.0em;
}

.crossed_fingers_paw {
    background-position: -96.0em 0.0em;
}

.fist_facing_left_paw {
    background-position: -97.0em 0.0em;
}

.fist_facing_right_paw {
    background-position: -98.0em 0.0em;
}

.fist_paw {
    background-position: -99.0em 0.0em;
}

.handshake_paw {
    background-position: -100.0em 0.0em;
}

.hand_paw {
    background-position: -101.0em 0.0em;
}

.index_finger_paw {
    background-position: -102.0em 0.0em;
}

.metal_paw {
    background-position: -103.0em 0.0em;
}

.middle_finger_paw {
    background-position: -104.0em 0.0em;
}

.muscle_paw {
    background-position: -105.0em 0.0em;
}

.nail_varnish_paw {
    background-position: -106.0em 0.0em;
}

.ok_hand_paw {
    background-position: -107.0em 0.0em;
}

.open_hands_paw {
    background-position: -108.0em 0.0em;
}

.point_down_paw {
    background-position: -109.0em 0.0em;
}

.point_left_paw {
    background-position: -110.0em 0.0em;
}

.point_right_paw {
    background-position: -111.0em 0.0em;
}

.point_up_paw {
    background-position: -112.0em 0.0em;
}

.pray_paw {
    background-position: -113.0em 0.0em;
}

.punch_paw {
    background-position: -114.0em 0.0em;
}

.raised_hands_paw {
    background-position: -115.0em 0.0em;
}

.selfie_paw {
    background-position: -116.0em 0.0em;
}

.thumbs_down_paw {
    background-position: -117.0em 0.0em;
}

.thumbs_up_paw {
    background-position: -118.0em 0.0em;
}

.vulcan_paw {
    background-position: -119.0em 0.0em;
}

.v_paw {
    background-position: -120.0em 0.0em;
}

.wave_paw {
    background-position: -121.0em 0.0em;
}

.writing_hand_paw {
    background-position: -122.0em 0.0em;
}

.haircut {
    background-position: -123.0em 0.0em;
}

.eyes {
    background-position: -124.0em 0.0em;
}

.ghost {
    background-position: -125.0em 0.0em;
}

.jack_o_lantern {
    background-position: -126.0em 0.0em;
}

.skull {
    background-position: -127.0em 0.0em;
}

.skull_and_crossbones {
    background-position: -128.0em 0.0em;
}

.arms_in_the_air {
    background-position: -129.0em 0.0em;
}

.bow {
    background-position: -130.0em 0.0em;
}

.facepalm {
    background-position: -131.0em 0.0em;
}

.massage {
    background-position: -132.0em 0.0em;
}

.no_good {
    background-position: -133.0em 0.0em;
}

.ok_gesture {
    background-position: -134.0em 0.0em;
}

.person_frowning {
    background-position: -135.0em 0.0em;
}

.person_pouting {
    background-position: -136.0em 0.0em;
}

.raising_hand {
    background-position: -137.0em 0.0em;
}

.shrug {
    background-position: -138.0em 0.0em;
}

.tipping_hand {
    background-position: -139.0em 0.0em;
}

.cat_crying {
    background-position: -140.0em 0.0em;
}

.cat_devious {
    background-position: -141.0em 0.0em;
}

.cat_grin {
    background-position: -142.0em 0.0em;
}

.cat_heart_eyes {
    background-position: -143.0em 0.0em;
}

.cat_joy {
    background-position: -144.0em 0.0em;
}

.cat_kiss {
    background-position: -145.0em 0.0em;
}

.cat_pouting {
    background-position: -146.0em 0.0em;
}

.cat_scream {
    background-position: -147.0em 0.0em;
}

.cat_smile {
    background-position: -148.0em 0.0em;
}

.blushing {
    background-position: -149.0em 0.0em;
}

.blush_kiss {
    background-position: -150.0em 0.0em;
}

.embarrassed {
    background-position: -151.0em 0.0em;
}

.happy_kiss {
    background-position: -152.0em 0.0em;
}

.headpats {
    background-position: -153.0em 0.0em;
}

.heart_eyes {
    background-position: -154.0em 0.0em;
}

.hug {
    background-position: -155.0em 0.0em;
}

.kiss {
    background-position: -156.0em 0.0em;
}

.relaxed {
    background-position: -157.0em 0.0em;
}

.smile_hearts {
    background-position: -158.0em 0.0em;
}

.soft {
    background-position: -159.0em 0.0em;
}

.wink_kiss {
    background-position: -160.0em 0.0em;
}

.big_smile {
    background-position: -161.0em 0.0em;
}

.content {
    background-position: -162.0em 0.0em;
}

.grin {
    background-position: -163.0em 0.0em;
}

.grinning {
    background-position: -164.0em 0.0em;
}

.halo {
    background-position: -165.0em 0.0em;
}

.happy {
    background-position: -166.0em 0.0em;
}

.joy {
    background-position: -167.0em 0.0em;
}

.laughing {
    background-position: -168.0em 0.0em;
}

.money_face {
    background-position: -169.0em 0.0em;
}

.party_face {
    background-position: -170.0em 0.0em;
}

.rofl {
    background-position: -171.0em 0.0em;
}

.smile {
    background-position: -172.0em 0.0em;
}

.stick_out_tongue {
    background-position: -173.0em 0.0em;
}

.sweat_smile {
    background-position: -174.0em 0.0em;
}

.upside_down_smile {
    background-position: -175.0em 0.0em;
}

.wink {
    background-position: -176.0em 0.0em;
}

.wink_tongue {
    background-position: -177.0em 0.0em;
}

.xd_tongue {
    background-position: -178.0em 0.0em;
}

.yum {
    background-position: -179.0em 0.0em;
}

.alien {
    background-position: -180.0em 0.0em;
}

.alien_monster {
    background-position: -181.0em 0.0em;
}

.clown {
    background-position: -182.0em 0.0em;
}

.cool_face {
    background-position: -183.0em 0.0em;
}

.cowhand {
    background-position: -184.0em 0.0em;
}

.grumpy_block {
    background-position: -185.0em 0.0em;
}

.hot_shit {
    background-position: -186.0em 0.0em;
}

.imp_angry {
    background-position: -187.0em 0.0em;
}

.imp_devious {
    background-position: -188.0em 0.0em;
}

.nerd_face {
    background-position: -189.0em 0.0em;
}

.robot {
    background-position: -190.0em 0.0em;
}

.shit {
    background-position: -191.0em 0.0em;
}

.tengu_mask {
    background-position: -192.0em 0.0em;
}

.concern {
    background-position: -193.0em 0.0em;
}

.disappointed_but_relieved {
    background-position: -194.0em 0.0em;
}

.expressionless {
    background-position: -195.0em 0.0em;
}

.face_without_mouth {
    background-position: -196.0em 0.0em;
}

.grimace {
    background-position: -197.0em 0.0em;
}

.hand_over_mouth {
    background-position: -198.0em 0.0em;
}

.lying_face {
    background-position: -199.0em 0.0em;
}

.monocle {
    background-position: -200.0em 0.0em;
}

.raised_eyebrow {
    background-position: -201.0em 0.0em;
}

.rolling_eyes {
    background-position: -202.0em 0.0em;
}

.shush {
    background-position: -203.0em 0.0em;
}

.smirk {
    background-position: -204.0em 0.0em;
}

.straight_face {
    background-position: -205.0em 0.0em;
}

.thinking {
    background-position: -206.0em 0.0em;
}

.unamused {
    background-position: -207.0em 0.0em;
}

.asleep {
    background-position: -208.0em 0.0em;
}

.astonished {
    background-position: -209.0em 0.0em;
}

.cold {
    background-position: -210.0em 0.0em;
}

.cold_sweat {
    background-position: -211.0em 0.0em;
}

.confused {
    background-position: -212.0em 0.0em;
}

.crazy {
    background-position: -213.0em 0.0em;
}

.dead {
    background-position: -214.0em 0.0em;
}

.drooling {
    background-position: -215.0em 0.0em;
}

.exhausted {
    background-position: -216.0em 0.0em;
}

.hot {
    background-position: -217.0em 0.0em;
}

.mind_blown {
    background-position: -218.0em 0.0em;
}

.open_mouth {
    background-position: -219.0em 0.0em;
}

.pleading {
    background-position: -220.0em 0.0em;
}

.scared {
    background-position: -221.0em 0.0em;
}

.scream {
    background-position: -222.0em 0.0em;
}

.shocked {
    background-position: -223.0em 0.0em;
}

.sleepy {
    background-position: -224.0em 0.0em;
}

.starry_eyes {
    background-position: -225.0em 0.0em;
}

.surprised {
    background-position: -226.0em 0.0em;
}

.weary {
    background-position: -227.0em 0.0em;
}

.woozy {
    background-position: -228.0em 0.0em;
}

.worried {
    background-position: -229.0em 0.0em;
}

.zippy_face {
    background-position: -230.0em 0.0em;
}

.angry {
    background-position: -231.0em 0.0em;
}

.angry_steam {
    background-position: -232.0em 0.0em;
}

.bandaged {
    background-position: -233.0em 0.0em;
}

.medical_mask {
    background-position: -234.0em 0.0em;
}

.nauseous {
    background-position: -235.0em 0.0em;
}

.sick {
    background-position: -236.0em 0.0em;
}

.sneezing {
    background-position: -237.0em 0.0em;
}

.swearing {
    background-position: -238.0em 0.0em;
}

.very_angry {
    background-position: -239.0em 0.0em;
}

.vomiting {
    background-position: -240.0em 0.0em;
}

.confounded {
    background-position: -241.0em 0.0em;
}

.crying {
    background-position: -242.0em 0.0em;
}

.disappointed {
    background-position: -243.0em 0.0em;
}

.frown {
    background-position: -244.0em 0.0em;
}

.loud_cry {
    background-position: -245.0em 0.0em;
}

.pensive {
    background-position: -246.0em 0.0em;
}

.persevering {
    background-position: -247.0em 0.0em;
}

.slight_frown {
    background-position: -248.0em 0.0em;
}

.sweat {
    background-position: -249.0em 0.0em;
}

.unhappy {
    background-position: -250.0em 0.0em;
}

.unsure {
    background-position: -251.0em 0.0em;
}

.beer {
    background-position: -252.0em 0.0em;
}

.beers {
    background-position: -253.0em 0.0em;
}

.cannabis_leaf {
    background-position: -254.0em 0.0em;
}

.martini {
    background-position: -255.0em 0.0em;
}

.sake {
    background-position: -256.0em 0.0em;
}

.tropical_drink {
    background-position: -257.0em 0.0em;
}

.wine {
    background-position: -258.0em 0.0em;
}

.coffee {
    background-position: -259.0em 0.0em;
}

.matcha_tea {
    background-position: -260.0em 0.0em;
}

.milk {
    background-position: -261.0em 0.0em;
}

.bento {
    background-position: -262.0em 0.0em;
}

.birthday_cake {
    background-position: -263.0em 0.0em;
}

.candy {
    background-position: -264.0em 0.0em;
}

.curry_rice {
    background-position: -265.0em 0.0em;
}

.dango {
    background-position: -266.0em 0.0em;
}

.donut {
    background-position: -267.0em 0.0em;
}

.ice_cream {
    background-position: -268.0em 0.0em;
}

.knife_and_fork {
    background-position: -269.0em 0.0em;
}

.lollipop {
    background-position: -270.0em 0.0em;
}

.meat_drumstick {
    background-position: -271.0em 0.0em;
}

.meat_on_bone {
    background-position: -272.0em 0.0em;
}

.oden {
    background-position: -273.0em 0.0em;
}

.onigiri {
    background-position: -274.0em 0.0em;
}

.plate {
    background-position: -275.0em 0.0em;
}

.rice {
    background-position: -276.0em 0.0em;
}

.senbei {
    background-position: -277.0em 0.0em;
}

.shaved_ice {
    background-position: -278.0em 0.0em;
}

.shortcake {
    background-position: -279.0em 0.0em;
}

.sushi {
    background-position: -280.0em 0.0em;
}

.cherry {
    background-position: -281.0em 0.0em;
}

.eggplant {
    background-position: -282.0em 0.0em;
}

.green_apple {
    background-position: -283.0em 0.0em;
}

.lemon {
    background-position: -284.0em 0.0em;
}

.melon {
    background-position: -285.0em 0.0em;
}

.orange {
    background-position: -286.0em 0.0em;
}

.peach {
    background-position: -287.0em 0.0em;
}

.pear {
    background-position: -288.0em 0.0em;
}

.pineapple {
    background-position: -289.0em 0.0em;
}

.red_apple {
    background-position: -290.0em 0.0em;
}

.strawberry {
    background-position: -291.0em 0.0em;
}

.watermelon {
    background-position: -292.0em 0.0em;
}

.agender_flag {
    background-position: -293.0em 0.0em;
}

.androgyne_flag {
    background-position: -294.0em 0.0em;
}

.aromantic_flag {
    background-position: -295.0em 0.0em;
}

.asexual_flag {
    background-position: -296.0em 0.0em;
}

.bear_flag {
    background-position: -297.0em 0.0em;
}

.bigender_flag {
    background-position: -298.0em 0.0em;
}

.bisexual_flag {
    background-position: -299.0em 0.0em;
}

.demigirl_flag {
    background-position: -300.0em 0.0em;
}

.demiguy_flag {
    background-position: -301.0em 0.0em;
}

.deminonbinary_flag {
    background-position: -302.0em 0.0em;
}

.demisexual_flag {
    background-position: -303.0em 0.0em;
}

.enbian_flag {
    background-position: -304.0em 0.0em;
}

.genderfluid_flag {
    background-position: -305.0em 0.0em;
}

.genderqueer_flag {
    background-position: -306.0em 0.0em;
}

.intersex_flag {
    background-position: -307.0em 0.0em;
}

.leather_flag {
    background-position: -308.0em 0.0em;
}

.lesbian_flag {
    background-position: -309.0em 0.0em;
}

.lipstick_lesbian_flag {
    background-position: -310.0em 0.0em;
}

.lunaric_flag {
    background-position: -311.0em 0.0em;
}

.mercuric_flag {
    background-position: -312.0em 0.0em;
}

.neutrois_flag {
    background-position: -313.0em 0.0em;
}

.nonbinary_flag {
    background-position: -314.0em 0.0em;
}

.omnisexual_flag {
    background-position: -315.0em 0.0em;
}

.pansexual_flag {
    background-position: -316.0em 0.0em;
}

.polyamory_flag {
    background-position: -317.0em 0.0em;
}

.polysexual_flag {
    background-position: -318.0em 0.0em;
}

.quoiromantic_flag {
    background-position: -319.0em 0.0em;
}

.rainbow_flag {
    background-position: -320.0em 0.0em;
}

.solaric_flag {
    background-position: -321.0em 0.0em;
}

.stellaric_flag {
    background-position: -322.0em 0.0em;
}

.transgender_flag {
    background-position: -323.0em 0.0em;
}

.ace_sign {
    background-position: -324.0em 0.0em;
}

.aro_sign {
    background-position: -325.0em 0.0em;
}

.gay {
    background-position: -326.0em 0.0em;
}

.nb {
    background-position: -327.0em 0.0em;
}

.queer {
    background-position: -328.0em 0.0em;
}

.so_gay {
    background-position: -329.0em 0.0em;
}

.androgyne_symbol {
    background-position: -330.0em 0.0em;
}

.bisexual_triangles {
    background-position: -331.0em 0.0em;
}

.black_triangle {
    background-position: -332.0em 0.0em;
}

.furry_pride {
    background-position: -333.0em 0.0em;
}

.labrys_symbol {
    background-position: -334.0em 0.0em;
}

.lambda {
    background-position: -335.0em 0.0em;
}

.male_female_symbol {
    background-position: -336.0em 0.0em;
}

.neuter_symbol {
    background-position: -337.0em 0.0em;
}

.pink_triangle {
    background-position: -338.0em 0.0em;
}

.pride_100 {
    background-position: -339.0em 0.0em;
}

.transgender_mercury_symbol {
    background-position: -340.0em 0.0em;
}

.transgender_symbol {
    background-position: -341.0em 0.0em;
}

.two_female_symbols {
    background-position: -342.0em 0.0em;
}

.two_male_symbols {
    background-position: -343.0em 0.0em;
}

.female_symbol {
    background-position: -344.0em 0.0em;
}

.male_and_female_symbol {
    background-position: -345.0em 0.0em;
}

.male_symbol {
    background-position: -346.0em 0.0em;
}

.earth_americas {
    background-position: -347.0em 0.0em;
}

.earth_antarctic {
    background-position: -348.0em 0.0em;
}

.earth_arctic {
    background-position: -349.0em 0.0em;
}

.earth_asia_oceania {
    background-position: -350.0em 0.0em;
}

.earth_emea {
    background-position: -351.0em 0.0em;
}

.earth_pacific {
    background-position: -352.0em 0.0em;
}

.bang {
    background-position: -353.0em 0.0em;
}

.dash {
    background-position: -354.0em 0.0em;
}

.dizzy {
    background-position: -355.0em 0.0em;
}

.empty_star {
    background-position: -356.0em 0.0em;
}

.fire {
    background-position: -357.0em 0.0em;
}

.half_star {
    background-position: -358.0em 0.0em;
}

.shining_star {
    background-position: -359.0em 0.0em;
}

.shooting_star {
    background-position: -360.0em 0.0em;
}

.sparkles {
    background-position: -361.0em 0.0em;
}

.star {
    background-position: -362.0em 0.0em;
}

.crescent {
    background-position: -363.0em 0.0em;
}

.crescent_moon_1 {
    background-position: -364.0em 0.0em;
}

.crescent_moon_2 {
    background-position: -365.0em 0.0em;
}

.full_moon {
    background-position: -366.0em 0.0em;
}

.full_moon_face {
    background-position: -367.0em 0.0em;
}

.gibbous_moon_1 {
    background-position: -368.0em 0.0em;
}

.gibbous_moon_2 {
    background-position: -369.0em 0.0em;
}

.half_moon_1 {
    background-position: -370.0em 0.0em;
}

.half_moon_2 {
    background-position: -371.0em 0.0em;
}

.moon_crescent_face_left {
    background-position: -372.0em 0.0em;
}

.moon_crescent_face_right {
    background-position: -373.0em 0.0em;
}

.new_moon {
    background-position: -374.0em 0.0em;
}

.new_moon_face {
    background-position: -375.0em 0.0em;
}

.cactus {
    background-position: -376.0em 0.0em;
}

.christmas_tree {
    background-position: -377.0em 0.0em;
}

.evergreen_tree {
    background-position: -378.0em 0.0em;
}

.palm_tree {
    background-position: -379.0em 0.0em;
}

.cloud {
    background-position: -380.0em 0.0em;
}

.lightning {
    background-position: -381.0em 0.0em;
}

.lightning_bolt {
    background-position: -382.0em 0.0em;
}

.lightning_rain {
    background-position: -383.0em 0.0em;
}

.rain {
    background-position: -384.0em 0.0em;
}

.snow {
    background-position: -385.0em 0.0em;
}

.snowflake {
    background-position: -386.0em 0.0em;
}

.sun {
    background-position: -387.0em 0.0em;
}

.sun_behind_cloud {
    background-position: -388.0em 0.0em;
}

.sun_behind_large_cloud {
    background-position: -389.0em 0.0em;
}

.sun_behind_small_cloud {
    background-position: -390.0em 0.0em;
}

.sun_cloud_rain {
    background-position: -391.0em 0.0em;
}

.sun_face {
    background-position: -392.0em 0.0em;
}

.sweat_drops {
    background-position: -393.0em 0.0em;
}

.water_drop {
    background-position: -394.0em 0.0em;
}

.d10 {
    background-position: -395.0em 0.0em;
}

.d12 {
    background-position: -396.0em 0.0em;
}

.d20 {
    background-position: -397.0em 0.0em;
}

.d4 {
    background-position: -398.0em 0.0em;
}

.d6 {
    background-position: -399.0em 0.0em;
}

.d8 {
    background-position: -400.0em 0.0em;
}

.hanafuda_card {
    background-position: -401.0em 0.0em;
}

.bath {
    background-position: -402.0em 0.0em;
}

.bath_with_person {
    background-position: -403.0em 0.0em;
}

.candle {
    background-position: -404.0em 0.0em;
}

.toilet_paper {
    background-position: -405.0em 0.0em;
}

.brick {
    background-position: -406.0em 0.0em;
}

.firecracker {
    background-position: -407.0em 0.0em;
}

.credit_card {
    background-position: -408.0em 0.0em;
}

.green_money {
    background-position: -409.0em 0.0em;
}

.moneybag {
    background-position: -410.0em 0.0em;
}

.pink_money {
    background-position: -411.0em 0.0em;
}

.purple_money {
    background-position: -412.0em 0.0em;
}

.yellow_money {
    background-position: -413.0em 0.0em;
}

.bar_chart {
    background-position: -414.0em 0.0em;
}

.blue_book {
    background-position: -415.0em 0.0em;
}

.bookmark {
    background-position: -416.0em 0.0em;
}

.calendar {
    background-position: -417.0em 0.0em;
}

.calendar_spiral {
    background-position: -418.0em 0.0em;
}

.closed_mailbox {
    background-position: -419.0em 0.0em;
}

.closed_mailbox_with_no_mail {
    background-position: -420.0em 0.0em;
}

.date {
    background-position: -421.0em 0.0em;
}

.decreasing_graph {
    background-position: -422.0em 0.0em;
}

.email {
    background-position: -423.0em 0.0em;
}

.envelope {
    background-position: -424.0em 0.0em;
}

.envelope_with_arrow {
    background-position: -425.0em 0.0em;
}

.folder {
    background-position: -426.0em 0.0em;
}

.green_book {
    background-position: -427.0em 0.0em;
}

.inbox {
    background-position: -428.0em 0.0em;
}

.incoming_envelope {
    background-position: -429.0em 0.0em;
}

.increasing_graph {
    background-position: -430.0em 0.0em;
}

.love_letter {
    background-position: -431.0em 0.0em;
}

.magnifying_glass_left {
    background-position: -432.0em 0.0em;
}

.magnifying_glass_right {
    background-position: -433.0em 0.0em;
}

.mailbox {
    background-position: -434.0em 0.0em;
}

.mailbox_with_no_mail {
    background-position: -435.0em 0.0em;
}

.open_folder {
    background-position: -436.0em 0.0em;
}

.outbox {
    background-position: -437.0em 0.0em;
}

.page {
    background-position: -438.0em 0.0em;
}

.page_with_pencil {
    background-position: -439.0em 0.0em;
}

.paperclip {
    background-position: -440.0em 0.0em;
}

.pen {
    background-position: -441.0em 0.0em;
}

.pencil {
    background-position: -442.0em 0.0em;
}

.red_book {
    background-position: -443.0em 0.0em;
}

.spiral_notebook {
    background-position: -444.0em 0.0em;
}

.yellow_book {
    background-position: -445.0em 0.0em;
}

.bone {
    background-position: -446.0em 0.0em;
}

.coffin {
    background-position: -447.0em 0.0em;
}

.glowstick {
    background-position: -448.0em 0.0em;
}

.hole {
    background-position: -449.0em 0.0em;
}

.balloon {
    background-position: -450.0em 0.0em;
}

.confetti_ball {
    background-position: -451.0em 0.0em;
}

.tada {
    background-position: -452.0em 0.0em;
}

.blue_potion {
    background-position: -453.0em 0.0em;
}

.green_potion {
    background-position: -454.0em 0.0em;
}

.pink_potion {
    background-position: -455.0em 0.0em;
}

.purple_potion {
    background-position: -456.0em 0.0em;
}

.red_potion {
    background-position: -457.0em 0.0em;
}

.yellow_potion {
    background-position: -458.0em 0.0em;
}

.magic_wand {
    background-position: -459.0em 0.0em;
}

.crystal_ball {
    background-position: -460.0em 0.0em;
}

.pentacle {
    background-position: -461.0em 0.0em;
}

.rune_stones {
    background-position: -462.0em 0.0em;
}

.spellbook {
    background-position: -463.0em 0.0em;
}

.tarot_cup {
    background-position: -464.0em 0.0em;
}

.tarot_pentacle {
    background-position: -465.0em 0.0em;
}

.tarot_sword {
    background-position: -466.0em 0.0em;
}

.tarot_wand {
    background-position: -467.0em 0.0em;
}

.oil_lamp {
    background-position: -468.0em 0.0em;
}

.arrow {
    background-position: -469.0em 0.0em;
}

.bow_and_arrow {
    background-position: -470.0em 0.0em;
}

.broadsword {
    background-position: -471.0em 0.0em;
}

.crossbow {
    background-position: -472.0em 0.0em;
}

.european_battle_axe {
    background-position: -473.0em 0.0em;
}

.flail {
    background-position: -474.0em 0.0em;
}

.glaive {
    background-position: -475.0em 0.0em;
}

.great_axe {
    background-position: -476.0em 0.0em;
}

.halberd {
    background-position: -477.0em 0.0em;
}

.katana {
    background-position: -478.0em 0.0em;
}

.mace {
    background-position: -479.0em 0.0em;
}

.rapier {
    background-position: -480.0em 0.0em;
}

.sabre {
    background-position: -481.0em 0.0em;
}

.shuriken {
    background-position: -482.0em 0.0em;
}

.tomahawk {
    background-position: -483.0em 0.0em;
}

.war_hammer {
    background-position: -484.0em 0.0em;
}

.zweihander {
    background-position: -485.0em 0.0em;
}

.arcade_stick {
    background-position: -486.0em 0.0em;
}

.battery {
    background-position: -487.0em 0.0em;
}

.camcorder {
    background-position: -488.0em 0.0em;
}

.camera {
    background-position: -489.0em 0.0em;
}

.camera_with_flash {
    background-position: -490.0em 0.0em;
}

.cassette {
    background-position: -491.0em 0.0em;
}

.cd {
    background-position: -492.0em 0.0em;
}

.computer {
    background-position: -493.0em 0.0em;
}

.computer_mouse {
    background-position: -494.0em 0.0em;
}

.control_knobs {
    background-position: -495.0em 0.0em;
}

.crt {
    background-position: -496.0em 0.0em;
}

.crt_blue_screen {
    background-position: -497.0em 0.0em;
}

.crt_green_lines {
    background-position: -498.0em 0.0em;
}

.crt_noise {
    background-position: -499.0em 0.0em;
}

.crt_prompt {
    background-position: -500.0em 0.0em;
}

.crt_test_pattern {
    background-position: -501.0em 0.0em;
}

.dvd {
    background-position: -502.0em 0.0em;
}

.fax_machine {
    background-position: -503.0em 0.0em;
}

.film_frames {
    background-position: -504.0em 0.0em;
}

.film_projector {
    background-position: -505.0em 0.0em;
}

.floppy_disk {
    background-position: -506.0em 0.0em;
}

.gamepad {
    background-position: -507.0em 0.0em;
}

.joystick {
    background-position: -508.0em 0.0em;
}

.keyboard {
    background-position: -509.0em 0.0em;
}

.landline_phone {
    background-position: -510.0em 0.0em;
}

.laptop {
    background-position: -511.0em 0.0em;
}

.level_slider {
    background-position: -512.0em 0.0em;
}

.lp {
    background-position: -513.0em 0.0em;
}

.microphone {
    background-position: -514.0em 0.0em;
}

.minidisc {
    background-position: -515.0em 0.0em;
}

.movie_camera {
    background-position: -516.0em 0.0em;
}

.pager {
    background-position: -517.0em 0.0em;
}

.phone {
    background-position: -518.0em 0.0em;
}

.phone_off {
    background-position: -519.0em 0.0em;
}

.phone_receiver {
    background-position: -520.0em 0.0em;
}

.phone_vibrate {
    background-position: -521.0em 0.0em;
}

.phone_with_arrow {
    background-position: -522.0em 0.0em;
}

.printer {
    background-position: -523.0em 0.0em;
}

.radio {
    background-position: -524.0em 0.0em;
}

.speaker {
    background-position: -525.0em 0.0em;
}

.stylus {
    background-position: -526.0em 0.0em;
}

.trackball {
    background-position: -527.0em 0.0em;
}

.tv {
    background-position: -528.0em 0.0em;
}

.vhs {
    background-position: -529.0em 0.0em;
}

.vr_headset {
    background-position: -530.0em 0.0em;
}

.watch {
    background-position: -531.0em 0.0em;
}

.2_busts_in_silhouette {
    background-position: -532.0em 0.0em;
}

.bust_in_silhouette {
    background-position: -533.0em 0.0em;
}

.paws {
    background-position: -534.0em 0.0em;
}

.paw_print {
    background-position: -535.0em 0.0em;
}

.spider_web {
    background-position: -536.0em 0.0em;
}

.ear {
    background-position: -537.0em 0.0em;
}

.eye {
    background-position: -538.0em 0.0em;
}

.long_pointed_ear {
    background-position: -539.0em 0.0em;
}

.pointed_ear {
    background-position: -540.0em 0.0em;
}

.dolphin {
    background-position: -541.0em 0.0em;
}

.puffer_fish {
    background-position: -542.0em 0.0em;
}

.shark {
    background-position: -543.0em 0.0em;
}

.turtle {
    background-position: -544.0em 0.0em;
}

.blue_jay {
    background-position: -545.0em 0.0em;
}

.crane {
    background-position: -546.0em 0.0em;
}

.crow {
    background-position: -547.0em 0.0em;
}

.dove {
    background-position: -548.0em 0.0em;
}

.duck {
    background-position: -549.0em 0.0em;
}

.eagle {
    background-position: -550.0em 0.0em;
}

.owl {
    background-position: -551.0em 0.0em;
}

.parrot {
    background-position: -552.0em 0.0em;
}

.peacock {
    background-position: -553.0em 0.0em;
}

.pelican {
    background-position: -554.0em 0.0em;
}

.penguin {
    background-position: -555.0em 0.0em;
}

.pigeon {
    background-position: -556.0em 0.0em;
}

.rooster {
    background-position: -557.0em 0.0em;
}

.toucan {
    background-position: -558.0em 0.0em;
}

.coyote {
    background-position: -559.0em 0.0em;
}

.fox {
    background-position: -560.0em 0.0em;
}

.jackal {
    background-position: -561.0em 0.0em;
}

.wolf {
    background-position: -562.0em 0.0em;
}

.bugbear {
    background-position: -563.0em 0.0em;
}

.dark_elf {
    background-position: -564.0em 0.0em;
}

.demon {
    background-position: -565.0em 0.0em;
}

.elf {
    background-position: -566.0em 0.0em;
}

.fish_person {
    background-position: -567.0em 0.0em;
}

.goblin {
    background-position: -568.0em 0.0em;
}

.half_demon {
    background-position: -569.0em 0.0em;
}

.kobold {
    background-position: -570.0em 0.0em;
}

.merperson {
    background-position: -571.0em 0.0em;
}

.minotaur {
    background-position: -572.0em 0.0em;
}

.oni {
    background-position: -573.0em 0.0em;
}

.orc {
    background-position: -574.0em 0.0em;
}

.troll {
    background-position: -575.0em 0.0em;
}

.cheetah {
    background-position: -576.0em 0.0em;
}

.hyena {
    background-position: -577.0em 0.0em;
}

.jaguar {
    background-position: -578.0em 0.0em;
}

.leopard {
    background-position: -579.0em 0.0em;
}

.lion_without_mane {
    background-position: -580.0em 0.0em;
}

.lion_with_mane {
    background-position: -581.0em 0.0em;
}

.lynx {
    background-position: -582.0em 0.0em;
}

.snow_leopard {
    background-position: -583.0em 0.0em;
}

.tiger {
    background-position: -584.0em 0.0em;
}

.spider {
    background-position: -585.0em 0.0em;
}

.gryphon {
    background-position: -586.0em 0.0em;
}

.slime {
    background-position: -587.0em 0.0em;
}

.bear {
    background-position: -588.0em 0.0em;
}

.deer_without_antlers {
    background-position: -589.0em 0.0em;
}

.deer_with_antlers {
    background-position: -590.0em 0.0em;
}

.mouse {
    background-position: -591.0em 0.0em;
}

.opossum {
    background-position: -592.0em 0.0em;
}

.otter {
    background-position: -593.0em 0.0em;
}

.panda {
    background-position: -594.0em 0.0em;
}

.rabbit {
    background-position: -595.0em 0.0em;
}

.raccoon {
    background-position: -596.0em 0.0em;
}

.ram {
    background-position: -597.0em 0.0em;
}

.rat {
    background-position: -598.0em 0.0em;
}

.red_panda {
    background-position: -599.0em 0.0em;
}

.eastern_dragon {
    background-position: -600.0em 0.0em;
}

.snake {
    background-position: -601.0em 0.0em;
}

.western_dragon {
    background-position: -602.0em 0.0em;
}

.arrows_clockwise {
    background-position: -603.0em 0.0em;
}

.arrows_counterclockwise {
    background-position: -604.0em 0.0em;
}

.arrow_curve_down {
    background-position: -605.0em 0.0em;
}

.arrow_curve_left {
    background-position: -606.0em 0.0em;
}

.arrow_curve_right {
    background-position: -607.0em 0.0em;
}

.arrow_curve_up {
    background-position: -608.0em 0.0em;
}

.arrow_down {
    background-position: -609.0em 0.0em;
}

.arrow_down_left {
    background-position: -610.0em 0.0em;
}

.arrow_down_right {
    background-position: -611.0em 0.0em;
}

.arrow_left {
    background-position: -612.0em 0.0em;
}

.arrow_left_right {
    background-position: -613.0em 0.0em;
}

.arrow_right {
    background-position: -614.0em 0.0em;
}

.arrow_up {
    background-position: -615.0em 0.0em;
}

.arrow_up_down {
    background-position: -616.0em 0.0em;
}

.arrow_up_left {
    background-position: -617.0em 0.0em;
}

.arrow_up_right {
    background-position: -618.0em 0.0em;
}

.back {
    background-position: -619.0em 0.0em;
}

.end {
    background-position: -620.0em 0.0em;
}

.on_arrow {
    background-position: -621.0em 0.0em;
}

.soon {
    background-position: -622.0em 0.0em;
}

.top {
    background-position: -623.0em 0.0em;
}

.10_00 {
    background-position: -624.0em 0.0em;
}

.10_30 {
    background-position: -625.0em 0.0em;
}

.11_00 {
    background-position: -626.0em 0.0em;
}

.11_30 {
    background-position: -627.0em 0.0em;
}

.12_00 {
    background-position: -628.0em 0.0em;
}

.12_30 {
    background-position: -629.0em 0.0em;
}

.1_00 {
    background-position: -630.0em 0.0em;
}

.1_30 {
    background-position: -631.0em 0.0em;
}

.2_00 {
    background-position: -632.0em 0.0em;
}

.2_30 {
    background-position: -633.0em 0.0em;
}

.3_00 {
    background-position: -634.0em 0.0em;
}

.3_30 {
    background-position: -635.0em 0.0em;
}

.4_00 {
    background-position: -636.0em 0.0em;
}

.4_30 {
    background-position: -637.0em 0.0em;
}

.5_00 {
    background-position: -638.0em 0.0em;
}

.5_30 {
    background-position: -639.0em 0.0em;
}

.6_00 {
    background-position: -640.0em 0.0em;
}

.6_30 {
    background-position: -641.0em 0.0em;
}

.7_00 {
    background-position: -642.0em 0.0em;
}

.7_30 {
    background-position: -643.0em 0.0em;
}

.8_00 {
    background-position: -644.0em 0.0em;
}

.8_30 {
    background-position: -645.0em 0.0em;
}

.9_00 {
    background-position: -646.0em 0.0em;
}

.9_30 {
    background-position: -647.0em 0.0em;
}

.awoo {
    background-position: -648.0em 0.0em;
}

.battery_empty {
    background-position: -649.0em 0.0em;
}

.battery_full {
    background-position: -650.0em 0.0em;
}

.battery_low {
    background-position: -651.0em 0.0em;
}

.battery_medium {
    background-position: -652.0em 0.0em;
}

.dont_at_me {
    background-position: -653.0em 0.0em;
}

.dont_awoo {
    background-position: -654.0em 0.0em;
}

.privacy {
    background-position: -655.0em 0.0em;
}

.red_umbrella {
    background-position: -656.0em 0.0em;
}

.black_flag {
    background-position: -657.0em 0.0em;
}

.crossed_flags {
    background-position: -658.0em 0.0em;
}

.finish_flag {
    background-position: -659.0em 0.0em;
}

.pirate_flag {
    background-position: -660.0em 0.0em;
}

.triangular_flag {
    background-position: -661.0em 0.0em;
}

.white_flag {
    background-position: -662.0em 0.0em;
}

.beating_heart {
    background-position: -663.0em 0.0em;
}

.black_heart {
    background-position: -664.0em 0.0em;
}

.blue_heart {
    background-position: -665.0em 0.0em;
}

.broken_heart {
    background-position: -666.0em 0.0em;
}

.empty_heart {
    background-position: -667.0em 0.0em;
}

.green_heart {
    background-position: -668.0em 0.0em;
}

.half_heart {
    background-position: -669.0em 0.0em;
}

.heart_arrow {
    background-position: -670.0em 0.0em;
}

.heart_exclamation_mark {
    background-position: -671.0em 0.0em;
}

.heart_growing {
    background-position: -672.0em 0.0em;
}

.heart_ribbon {
    background-position: -673.0em 0.0em;
}

.orange_heart {
    background-position: -674.0em 0.0em;
}

.purple_heart {
    background-position: -675.0em 0.0em;
}

.red_heart {
    background-position: -676.0em 0.0em;
}

.sparkling_heart {
    background-position: -677.0em 0.0em;
}

.two_hearts {
    background-position: -678.0em 0.0em;
}

.two_hearts_orbit {
    background-position: -679.0em 0.0em;
}

.yellow_heart {
    background-position: -680.0em 0.0em;
}

.acceptable {
    background-position: -681.0em 0.0em;
}

.bargain {
    background-position: -682.0em 0.0em;
}

.beginner {
    background-position: -683.0em 0.0em;
}

.blood_type_a {
    background-position: -684.0em 0.0em;
}

.blood_type_ab {
    background-position: -685.0em 0.0em;
}

.blood_type_b {
    background-position: -686.0em 0.0em;
}

.blood_type_o {
    background-position: -687.0em 0.0em;
}

.congratulations {
    background-position: -688.0em 0.0em;
}

.discount {
    background-position: -689.0em 0.0em;
}

.free_of_charge {
    background-position: -690.0em 0.0em;
}

.koko {
    background-position: -691.0em 0.0em;
}

.month {
    background-position: -692.0em 0.0em;
}

.not_free {
    background-position: -693.0em 0.0em;
}

.no_vacancy {
    background-position: -694.0em 0.0em;
}

.open_for_business {
    background-position: -695.0em 0.0em;
}

.passing_grade {
    background-position: -696.0em 0.0em;
}

.prohibited {
    background-position: -697.0em 0.0em;
}

.request {
    background-position: -698.0em 0.0em;
}

.reserved {
    background-position: -699.0em 0.0em;
}

.sa {
    background-position: -700.0em 0.0em;
}

.secret {
    background-position: -701.0em 0.0em;
}

.vacancy {
    background-position: -702.0em 0.0em;
}

.cool {
    background-position: -703.0em 0.0em;
}

.free {
    background-position: -704.0em 0.0em;
}

.new {
    background-position: -705.0em 0.0em;
}

.ng {
    background-position: -706.0em 0.0em;
}

.ok {
    background-position: -707.0em 0.0em;
}

.up {
    background-position: -708.0em 0.0em;
}

.vs {
    background-position: -709.0em 0.0em;
}

.eject {
    background-position: -710.0em 0.0em;
}

.fast_down {
    background-position: -711.0em 0.0em;
}

.fast_forward {
    background-position: -712.0em 0.0em;
}

.fast_up {
    background-position: -713.0em 0.0em;
}

.pause {
    background-position: -714.0em 0.0em;
}

.play {
    background-position: -715.0em 0.0em;
}

.play_down {
    background-position: -716.0em 0.0em;
}

.play_pause {
    background-position: -717.0em 0.0em;
}

.play_up {
    background-position: -718.0em 0.0em;
}

.record {
    background-position: -719.0em 0.0em;
}

.repeat {
    background-position: -720.0em 0.0em;
}

.repeat_once {
    background-position: -721.0em 0.0em;
}

.reverse {
    background-position: -722.0em 0.0em;
}

.rewind {
    background-position: -723.0em 0.0em;
}

.shuffle {
    background-position: -724.0em 0.0em;
}

.skip_back {
    background-position: -725.0em 0.0em;
}

.skip_forward {
    background-position: -726.0em 0.0em;
}

.stop {
    background-position: -727.0em 0.0em;
}

.100 {
    background-position: -728.0em 0.0em;
}

.8_asterisk {
    background-position: -729.0em 0.0em;
}

.8_star {
    background-position: -730.0em 0.0em;
}

.anger_symbol {
    background-position: -731.0em 0.0em;
}

.chart {
    background-position: -732.0em 0.0em;
}

.circle {
    background-position: -733.0em 0.0em;
}

.diamond_with_dot {
    background-position: -734.0em 0.0em;
}

.exclamation_exclamation {
    background-position: -735.0em 0.0em;
}

.exclamation_mark_gray {
    background-position: -736.0em 0.0em;
}

.exclamation_mark_red {
    background-position: -737.0em 0.0em;
}

.exclamation_question {
    background-position: -738.0em 0.0em;
}

.globe {
    background-position: -739.0em 0.0em;
}

.green_cross {
    background-position: -740.0em 0.0em;
}

.name_badge {
    background-position: -741.0em 0.0em;
}

.question_mark_gray {
    background-position: -742.0em 0.0em;
}

.question_mark_red {
    background-position: -743.0em 0.0em;
}

.sparkle {
    background-position: -744.0em 0.0em;
}

.spiral {
    background-position: -745.0em 0.0em;
}

.tick {
    background-position: -746.0em 0.0em;
}

.zzz {
    background-position: -747.0em 0.0em;
}

.0 {
    background-position: -748.0em 0.0em;
}

.1 {
    background-position: -749.0em 0.0em;
}

.10 {
    background-position: -750.0em 0.0em;
}

.2 {
    background-position: -751.0em 0.0em;
}

.3 {
    background-position: -752.0em 0.0em;
}

.4 {
    background-position: -753.0em 0.0em;
}

.5 {
    background-position: -754.0em 0.0em;
}

.6 {
    background-position: -755.0em 0.0em;
}

.7 {
    background-position: -756.0em 0.0em;
}

.8 {
    background-position: -757.0em 0.0em;
}

.9 {
    background-position: -758.0em 0.0em;
}

.abc {
    background-position: -759.0em 0.0em;
}

.asterisk {
    background-position: -760.0em 0.0em;
}

.cl {
    background-position: -761.0em 0.0em;
}

.hash {
    background-position: -762.0em 0.0em;
}

.high_brightness {
    background-position: -763.0em 0.0em;
}

.latin_lowercase {
    background-position: -764.0em 0.0em;
}

.latin_uppercase {
    background-position: -765.0em 0.0em;
}

.low_brightness {
    background-position: -766.0em 0.0em;
}

.numbers {
    background-position: -767.0em 0.0em;
}

.signal {
    background-position: -768.0em 0.0em;
}

.special_characters {
    background-position: -769.0em 0.0em;
}

.18_plus {
    background-position: -770.0em 0.0em;
}

.cross {
    background-position: -771.0em 0.0em;
}

.no {
    background-position: -772.0em 0.0em;
}

.no_entry {
    background-position: -773.0em 0.0em;
}

.stop_sign {
    background-position: -774.0em 0.0em;
}

.hp {
    background-position: -775.0em 0.0em;
}

.mp {
    background-position: -776.0em 0.0em;
}

.pp {
    background-position: -777.0em 0.0em;
}

.xp {
    background-position: -778.0em 0.0em;
}

.black_circle {
    background-position: -779.0em 0.0em;
}

.black_large_square {
    background-position: -780.0em 0.0em;
}

.black_medium_small_square {
    background-position: -781.0em 0.0em;
}

.black_medium_square {
    background-position: -782.0em 0.0em;
}

.black_small_square {
    background-position: -783.0em 0.0em;
}

.black_square_button {
    background-position: -784.0em 0.0em;
}

.blue_circle {
    background-position: -785.0em 0.0em;
}

.large_blue_diamond {
    background-position: -786.0em 0.0em;
}

.large_orange_diamond {
    background-position: -787.0em 0.0em;
}

.red_circle {
    background-position: -788.0em 0.0em;
}

.red_downward_triangle {
    background-position: -789.0em 0.0em;
}

.red_upward_triangle {
    background-position: -790.0em 0.0em;
}

.small_blue_diamond {
    background-position: -791.0em 0.0em;
}

.small_orange_diamond {
    background-position: -792.0em 0.0em;
}

.white_circle {
    background-position: -793.0em 0.0em;
}

.white_large_square {
    background-position: -794.0em 0.0em;
}

.white_medium_small_square {
    background-position: -795.0em 0.0em;
}

.white_medium_square {
    background-position: -796.0em 0.0em;
}

.white_small_square {
    background-position: -797.0em 0.0em;
}

.white_square_button {
    background-position: -798.0em 0.0em;
}

.atm {
    background-position: -799.0em 0.0em;
}

.cinema {
    background-position: -800.0em 0.0em;
}

.info {
    background-position: -801.0em 0.0em;
}

.metro_sign {
    background-position: -802.0em 0.0em;
}

.parking {
    background-position: -803.0em 0.0em;
}

.potable_water {
    background-position: -804.0em 0.0em;
}

.sos {
    background-position: -805.0em 0.0em;
}

.toilet {
    background-position: -806.0em 0.0em;
}

.wc {
    background-position: -807.0em 0.0em;
}

.wheelchair {
    background-position: -808.0em 0.0em;
}

.qr_code {
    background-position: -809.0em 0.0em;
}

.aquarius {
    background-position: -810.0em 0.0em;
}

.aries {
    background-position: -811.0em 0.0em;
}

.cancer {
    background-position: -812.0em 0.0em;
}

.capricorn {
    background-position: -813.0em 0.0em;
}

.gemini {
    background-position: -814.0em 0.0em;
}

.leo {
    background-position: -815.0em 0.0em;
}

.libra {
    background-position: -816.0em 0.0em;
}

.pisces {
    background-position: -817.0em 0.0em;
}

.sagittarius {
    background-position: -818.0em 0.0em;
}

.scorpio {
    background-position: -819.0em 0.0em;
}

.taurus {
    background-position: -820.0em 0.0em;
}

.virgo {
    background-position: -821.0em 0.0em;
}

.traffic_light_horizontal {
    background-position: -822.0em 0.0em;
}

.traffic_light_vertical {
    background-position: -823.0em 0.0em;
}

.beach {
    background-position: -824.0em 0.0em;
}

.beach_umbrella {
    background-position: -825.0em 0.0em;
}

.desert_island {
    background-position: -826.0em 0.0em;
}

.mountain {
    background-position: -827.0em 0.0em;
}

.mount_fuji {
    background-position: -828.0em 0.0em;
}

.snowy_mountain {
    background-position: -829.0em 0.0em;
}

.statue_of_liberty {
    background-position: -830.0em 0.0em;
}

.tokyo_tower {
    background-position: -831.0em 0.0em;
}

.volcano {
    background-position: -832.0em 0.0em;
}

.world_map {
    background-position: -833.0em 0.0em;
}

.bridge_at_night {
    background-position: -834.0em 0.0em;
}

.cityscape {
    background-position: -835.0em 0.0em;
}

.dusk_city {
    background-position: -836.0em 0.0em;
}

.fireworks {
    background-position: -837.0em 0.0em;
}

.milky_way {
    background-position: -838.0em 0.0em;
}

.night_with_stars {
    background-position: -839.0em 0.0em;
}

.sparkler {
    background-position: -840.0em 0.0em;
}

.sunset_city {
    background-position: -841.0em 0.0em;
}

.aerial_tramway {
    background-position: -842.0em 0.0em;
}

.bullet_train {
    background-position: -843.0em 0.0em;
}

.high_speed_train {
    background-position: -844.0em 0.0em;
}

.light_rail {
    background-position: -845.0em 0.0em;
}

.metro {
    background-position: -846.0em 0.0em;
}

.monorail {
    background-position: -847.0em 0.0em;
}

.mountain_tramway {
    background-position: -848.0em 0.0em;
}

.railway_car {
    background-position: -849.0em 0.0em;
}

.station {
    background-position: -850.0em 0.0em;
}

.suspension_railway {
    background-position: -851.0em 0.0em;
}

.train {
    background-position: -852.0em 0.0em;
}

.tram {
    background-position: -853.0em 0.0em;
}

.tram_car {
    background-position: -854.0em 0.0em;
}

.claw_hand_modifier {
    background-position: -855.0em 0.0em;
}

.color_modifier {
    background-position: -856.0em 0.0em;
}

.paw_hand_modifier {
    background-position: -857.0em 0.0em;
}
