{% extends "base.html" %}

{% block title %}{{ SITENAME }} - {{ article.title }}{% endblock %}

{% block richmeta %}
<meta property="og:type" content="article" />
<meta property="og:article:published_time" content="{{ article.date }}" />
{% if article.modified is defined %}
<meta property="og:article:modified_time" content="{{ article.modified }}" />
{% endif %}
<meta property="og:article:author" content="{{ AUTHOR }}" />
{% if article.tags is defined -%}
	{%- for tag in article.tags %}
		<meta property="og:article:tag" content="{{ tag | escape }}" />
	{% endfor -%}
{%- endif %}
<meta property="og:title" content="{{ SITENAME }} - {{ article.title }}" />
<meta property="og:description" content="{{ article.summary|striptags }}" />
<meta property="og:url" content="https://coyotesin.space/{{ article.url }}" />
<meta name="twitter:card" content="summary" />
<meta name="twitter:creator" content="{{ TWITTER_USERNAME }}" />
{% endblock %}

{% block content %}
<div class="card">
	<div class="header p-5">
		<p class="title is-3">
			{{ article.title }}
		</p>
		<p class="title subtitle is-5">
			<time datetime="{{ article.date.isoformat() }}">
					{{ article.date|strftime('%a %d %b %Y @ %-I:%M %p') }}
			</time>
		</p>
			{% if article.modified is defined %}
			<p class="subtitle is-6">
				<em>
					<time class="time" datetime="{{ article.modified.isoformat() }}">
						{{ article.modified|strftime('%a %d %b %Y @ %-I:%M %p') }}
					</time>
					<i class="far fa-clock" title="last modified"></i>*
				</em>
			</p>
			{% endif %}
	</div>
	<div class="content article p-5">
		{{ article.content }}
		{% include 'taglist.html' %}
	</div>
	{% include 'comments.html' %}
	<footer class="article-footer">
		<p class="card-footer-item">
			<a class="link" href="/articles/index.html">Back to index of articles</a>
		</p>
	</footer>
</div>
{% endblock %}
