{% extends "base.html" %}

{% block title %}
{% if article.series %}
{{ article.series.name }}
{% else %}
{{ SITENAME }}
{% endif %} - {{ article.title }}{% endblock %}

{% block richmeta %}
<meta property="og:type" content="article" />
<meta property="og:article:published_time" content="{{ article.date }}" />
{% if article.modified is defined %}
<meta property="og:article:modified_time" content="{{ article.modified }}" />
{% endif %}
<meta property="og:article:author" content="{{ AUTHOR }}" />
{% if article.tags is defined -%}
	{%- for tag in article.tags %}
		<meta property="og:article:tag" content="{{ tag | escape }}" />
	{% endfor -%}
{%- endif %}
<meta property="og:title" content="{{ SITENAME }} - {{ article.title }}" />
<meta property="og:description" content="{{ article.summary|striptags }}" />
<meta property="og:url" content="https://coyotesin.space/{{ article.url }}" />
<meta name="twitter:card" content="summary" />
<meta name="twitter:creator" content="{{ TWITTER_USERNAME }}" />
{% endblock %}

{% block content %}
<h1 class="title">
  <a href="/">coyotes in space</a>
</h1>
<div class="card h-entry">
	<div class="header pt-5 pl-5 pr-5">
		<p class="title is-3 p-name">
			{% if article.series %}
				{{ article.series.name }} - {{ article.series.index }}.
			{% endif %}
			{{ article.title }}
		</p>
		{% if 'story' not in article.tags %}
			<p class="title subtitle is-5">
				<time class="dt-published" datetime="{{ article.date.isoformat() }}">
						{{ article.date|strftime('%a %d %b %Y @ %-I:%M %p') }}
				</time>
			</p>
			{% if article.modified is defined %}
			<p class="subtitle is-6">
				<em>
					<time class="time dt-updated" datetime="{{ article.modified.isoformat() }}">
						{{ article.modified|strftime('%a %d %b %Y @ %-I:%M %p') }}
					</time>
				</p>
				{# {% if article.modified is defined %}
				<p class="subtitle is-6">
					<em>
						<time class="time" datetime="{{ article.modified.isoformat() }}">
							{{ article.modified|strftime('%a %d %b %Y @ %-I:%M %p') }}
						</time>
						<i class="far fa-clock" title="last modified"></i>*
					</em>
				</p>
				{% endif %} #}
			{% endif %}
		{% endif %}
		{% include 'series_paginator.html' %}
		<span style="display: none;" hidden="from-humans">
		<span class="p-summary" hidden="from-humans">{{ article.summary }}</span>
		<span class="p-author h-card" hidden="from-humans">{% include "hcard.html" %}</span>
		<span class="u-url" hidden="from-humans">https://coyotesin.space/{{ article.url }}</span>
		<a class="u-bridgy-fed" rel="webmention" href="https://fed.brid.gy/" hidden="from-humans"></a>
		</span>
	</div>
	<div class="content article p-5">
		<span class="e-content">{{ article.content }}</span>
		{% if not article.series %}
		{% include 'taglist.html' %}
		{% endif %}
	</div>
	{% include 'comments.html' %}
	<footer class="article-footer">
		{% if article.series %}
		{% include 'series_paginator.html' %}
		<nav class="level">
			<p class="level-item has-text-centered">
				<a class="link" href="/pages/stories.html">
					<i class="pelimoji pelimoji-spellbook" aria-label="spellbook" title="spellbook"></i> More Stories
				</a>
			</p>
		</nav>
		{% else %}
		<p class="card-footer-item">
			<a class="link" href="/category/blog.html">Back to index of articles</a>
		</p>
		{% endif %}
	</footer>
</div>
{% endblock %}
