{% extends 'base.html' %}

{% block title %}{{ SITENAME }} - Sundry Details{% endblock %}

{% block richmeta %}
<meta property="og:type" content="profile" />
<meta property="og:profile:first_name" content="Kay" />
<meta property="og:profile:last_name" content="Ohtie" />
<meta property="og:profile:username" content="ceralor" />
<meta property="og:profile:gender" content="eeeeeeeeeeeeeeeeeeeeeeeeeeeeeee" />
<meta property="og:title" content="{{ SITENAME }} - Sundry Details" />
<meta property="og:description" content="Extra details about Kay as both a fursona and character" />
<meta property="og:url" content="https://coyotesin.space/sundry.html" />
{% endblock %}

{% block content %}
<h1 class="title">
  <a href="/">coyotes in space</a>
</h1>
<div class="card">
	<div class="card-content">
		<div class="content article">
		<h1>Sundry details</h1>
		 <p>Lots of neat ideas I kinda have had kicking around for a while, so, er, here goes on some!</p>
		 <ul>
		 	<li>Kay's body is warm, and generates heat, though the mechanism for this is completely unknown. As a result, he's never got that cold feeling when hugged, better giving a sense for the fact he's alive.</li>
		 	<li>A side effect of this heat generation is that he feels most comfortable at regular body temperature. Higher heats do not bother him very much, and he enjoys the thermal expansion that comes along with it, but cold temperatures definitely bother him. Without fur anymore, he loses body heat more easily. This explains why he wears winter clothes during winter months and continues to wear clothes typically in general, even if he goes with a looser, more-relaxed wardrobe.</li>
		 	<li>Kay's material is pretty puncture-resistant, despite being as thin as it is. He wouldn't be able to hike if it wasn't!</li>
		 	<li>His material also isn't electrically conductive, of course, being some kind of latexy compound. An unexpected effect from this is in the use of touch screens and touchpads, or any other capacitive surface for control of electronics! He must use either a capacitive-compatible stylus or coat his clawtips and fingerpads with a thin layer of a dark-clear compound with a similar feel to his material, but bearing just enough metallic content to restore that capacitive touch. If he's inflated, the material can peel off his handpaws easily, though it's not mentioned in RP situations unless explicitly called for.</li>
		 </ul>
		 <section class="accordions">
		  <article class="accordion">
		    <div class="accordion-header toggle">
		      <p>More Adult-sided things...</p>
		    </div>
		    <div class="accordion-body">
		      <div class="accordion-content">
		        <ul class="mt-0">
					<li>The material applied to grant capacitance can also be peeled off by someone else as a bit of a kink thing. Kay's into light restraint/restriction stuff, and being told "Nope, you're not allowed to use the phone right now" by taking away his ability to use the touch screen is a fun use, provided the restrictor is also having fun with the coyote in other ways.</li>
				</ul>
		      </div>
		    </div>
		  </article>
		</section>
	</div>
</div>
{% endblock %}
<head>
	<meta name="url" content="sundry.html" />
</head>