<title>coyotes in space</title>
{% extends "prebase.html" %}

{% block title %}{{ SITENAME }}{% endblock %}

{% block richmeta %}
<meta property="og:title" content="{{ SITENAME }}" />
<meta property="og:description" content="Hello! I go by Kay, and I travel the interwebs with a balloon coyote as my avatar. I don't bite, hard at least, and try to be very friendly. " />
<meta property="og:url" content="https://coyotesin.space" />
{% endblock %}

<head>
  <meta name="url" content="" />
</head>
{% block precontent %}
<div class="level">
  <div class="has-text-centered level-left">
    <img class="banner" src="{{ SITEURL }}/images/banner.png" alt="Kay Ohtie floating in space happily">
    <!-- Artwork credit to https://twitter.com/fans_tastic as a really amazing birthday present <3 -->
  </div>

  <div class="column level-right">
    <h1 class="title">
      coyotes in space
    </h1>
    <p>
      Hello! I go by Kay, and I travel the interwebs with a balloon coyote as my avatar. I don't bite, hard at least, and try to be very friendly.        
    </p>
    <p>
      <br>
		<a href="/{{ articles[0].url }}"><span class="subtitle">{{ articles[0].title }}</span> -- <time datetime="{{ articles[0].date|strftime('%Y-%m-%d %H:%M:%S') }}">{{ articles[0].date|strftime('%a %d %b %Y @ %H:%M') }}</time> {% if articles[0].modified is defined %}
     <i class="far fa-clock" title="last modified {{ articles[0].modified|strftime('%a %d %b %Y @ %H:%M') }}"></i>
    {% endif %}</a>
		<div class="content">{{ articles[0].summary }}<a href="/{{ articles[0].url }}" class="link">Read more...</a> </div>
    </p>
  </div>
</div>


<nav class="level">
  <p class="level-item has-text-centered">
    <a class="link" href="/blog_index.html">blog</a>
  </p>
  <p class="level-item has-text-centered">
    <a class="link" href="https://t.me/ceralor">telegram</a>
  </p>
  <p class="level-item has-text-centered">
    <a rel="me" href="https://blimps.xyz/@ceralor" class="link">mastodon</a>
  </p>
  <!--<p class="level-item has-text-centered">
      <a class="link" href="https://furaffinity.net/user/ceralor">fur affinity</a>
  </p>-->
  <p class="level-item has-text-centered">
    <a class="link" href="https://keybase.io/ceralor">keybase</a>
  </p>
  <p class="level-item has-text-centered">
    <a class="link" href="https://ko-fi.com/ceralor">ko-fi</a>
  </p>
</nav>
{% endblock %}