<title>coyotes in space</title>
{% extends "prebase.html" %}

{% block title %}{{ SITENAME }}{% endblock %}

{% block precontent %}

<div class="level">
  <div class="has-text-centered level-left">
    <img class="banner" src="{{ SITEURL }}/images/banner.png" alt="Kay Ohtie floating in space happily">
    <!-- Artwork credit to https://twitter.com/fans_tastic as a really amazing birthday present <3 -->
  </div>

  <div class="column level-right">
    <h1 class="title">
      coyotes in space
    </h1>
    <p>
      Hello! I go by Kay or Ceralor on the internet, and I travel the interwebs with a pooltoy-like coyote as my avatar. I don't bite, hard at least, and try to be very friendly.
    </p>
    <p>
      I'm starting to work on a very simple <a class="link" href="/blog_index.html">blog</a> on here, so take a peeky-peek.
    </p>
    <br>
    <p>
      <br>
		<a href="/{{ articles[0].url }}"><span class="subtitle">{{ articles[0].title }}</span> -- <time datetime="{{ articles[0].date|strftime('%Y-%m-%d %H:%M:%S') }}">{{ articles[0].date|strftime('%a %d %b %Y @ %H:%M') }}</time></a>
		<div class="content">{{ articles[0].summary }}<a href="/{{ articles[0].url }}" class="link">Read more...</a> </div>
    </p>
  </div>
</div>


<nav class="level">
  <p class="level-item has-text-centered">
    <a class="link" href="https://t.me/ceralor">telegram</a>
  </p>
  <p class="level-item has-text-centered">
    <a class="link" href="https://blimps.xyz/@ceralor" rel="me">mastodon</a>
  </p>
  <p class="level-item has-text-centered">
      <a class="link" href="https://furaffinity.net/user/ceralor">fur affinity</a>
  </p>
  <p class="level-item has-text-centered">
    <a class="link" href="https://keybase.io/ceralor">keybase</a>
  </p>
  <p class="level-item has-text-centered">
    <a class="link" href="https://ko-fi.com/ceralor">ko-fi</a>
  </p>
</nav>

{% endblock %}